[2020-03-23 12:52] joewxboy opened #1 "Create proper license file"
Update LICENSE file to contain CC-BY 4.0 International, per LF Edge guidelines.  Ensure documentation lists and links to the license.

[2020-03-23 17:07] joewxboy commented on #1
Issue is merged

[2020-03-23 17:07] #1 closed

[2020-07-10 07:56] acostry opened #3 "The '"git config" command need to be modified (contribute.md > How to Attest)"
The below commands on contribute.md:
[code]

Need to be updated with below:

[code]

[2020-07-10 07:57] acostry commented on #3
@joewxboy FYI. ^^

[2020-07-10 12:19] joewxboy opened #4 "Create README"
Create a README file detailing how a contributor could:
* clone the repo
* edit the pages
* preview locally
* commit changes
* create a PR for review and merging

[2020-07-10 12:30] joewxboy opened #5 "Create a 404 page"
Create a 404 error page, place in the root folder as `404.md` _I think_, but please cofirm.  Test locally and commit.

[2020-07-10 13:05] acostry commented on #4
@joewxboy Please help assign this issue to me, thanks.

[2020-07-10 14:34] joewxboy commented on #3
Merged, can now be closed.  Thanks.

[2020-07-10 14:34] #3 closed

[2020-07-12 20:24] joewxboy opened #7 "Create Install page"
Place content on the install page to show how to use the all-in-one instructions at https://github.com/open-horizon/devops/tree/master/mgmt-hub

[2020-07-13 06:24] acostry commented on #5
@joewxboy I'd like to take this one, thanks.

[2020-07-13 15:50] #4 closed

[2020-07-13 16:04] #5 closed

[2020-07-13 16:05] joewxboy commented on #7
Merged.

[2020-07-13 16:05] #7 closed

[2020-07-14 13:34] joewxboy opened #11 "Add copy-to-clipboard include and use"
We have several pages in the docs now that contain snippets that people would want to copy and paste.  To prevent errors, add a Jekyll snippet to automatically copy the code block, and then apply to the relevant pages.

[2020-07-14 13:39] #11 closed

[2020-07-14 13:46] joewxboy opened #13 "Create header and footer includes and apply to layouts"
Create Jekyll includes for page header and footer.  Then use in the layouts.  The information for the footer is currently hard-coded in the home layout.  The header should include the project logo.

[2020-07-14 18:31] joewxboy opened #14 "Populate the use.md file from Bruce Potter's example"
We can begin populating the `use.md` file from the "What To Do Next" section of the DevOps Management Hub README: https://github.com/open-horizon/devops/tree/master/mgmt-hub#-what-to-do-next

[2020-07-14 18:33] joewxboy opened #15 "Populate get-technical-support.md"
Populate the `get-technical-support.md` file by explaining how to join the LF Edge Slack if they don't already have an account, and then posting a request in the #open-horizon-help Slack channel there.  Be sure to specify what information they should provide in order for us to help them, and provide an example.

[2020-07-14 18:35] joewxboy opened #16 "Populate report-an-issue.md"
Populate the `report-an-issue.md` file with detailed on the proper way to open an issue for this project in GitHub.  At least initially, let's limit the scope to reporting an issue with the documentation.  Later on we'll expand it for reporting an issue with any code in the project.

[2020-07-23 07:32] acostry commented on #13
@joewxboy Where to get the open-horizon project icon, logo, etc. ?

[2020-07-23 13:22] joewxboy commented on #13
It's in the artwork repository: https://github.com/open-horizon/artwork

[2020-07-23 15:24] acostry commented on #13
Thanks. @joewxboy I'd like to take this one.

[2020-07-25 11:30] xiuleiyy commented on #13
This issue can be closed. Thanks @joewxboy

[2020-07-27 13:38] joewxboy commented on #13
Confirmed, completed with merge of PR #17 .  Closing.

[2020-07-27 13:38] #13 closed

[2020-08-04 17:42] joewxboy opened #18 "Create an initial FAQ Section"
Create the initial central FAQ page (including navigation to that page) which should consist of a short description, categories, and short questions in each section.  This may require creation of a new FAQ page type.  Investigate using front matter to specify FAQ page type, categorization, and keywords with an eye towards eventually using the keywords for basic searching in a future phase.  For no

[2020-08-06 15:30] joewxboy opened #20 "Create an issue template for this repository"
We need a basic template that specifies a simple set of required information for an issue.

First, list required fields in this issue's comments.

[2020-08-07 18:16] joewxboy opened #21 "Create defined variables in the documentation"
Is Open Horizon a registered TM? And is that term used globally? If so, could it be a defined variable in your repo? Let me know if I can elaborate/help.

_Originally posted by @Rene-Ch1 in https://github.com/open-horizon/open-horizon.github.io/pull/19_

[2020-08-11 17:22] joewxboy opened #22 "Security Issue: CVE-2020-14001"
Fix Kramdown dependency in Gemfile.lock
Update dependency to 2.3.0 or later:
gem "kramdown", ">= 2.3.0"

[2020-08-12 12:53] joewxboy opened #24 "typo on quick start page"
In the front matter, the description reads: "A quick start to help you familiar with Open Horizon”.

There's a word or two missing.

[2020-08-12 13:32] #22 closed

[2020-08-12 13:38] #14 closed

[2020-08-12 13:43] joewxboy opened #25 "more best practices to document and implement"
From @Rene-Ch1

* Identify and replace directional content
* Identify and replace visual cues
* Identify and replace Latin-based content (i.e. and etc, for example)
* Identify and replace "and/or" and related compound joining word/phrases
* identify and replace jargon and cultural references

Capture examples and suggested replacements and add to Style Guide.

[2020-08-12 13:44] morrme commented on #24
Should it be something like this:

![qs](https://user-images.githubusercontent.com/26514778/90022275-f651db00-dc77-11ea-85aa-69b3f74d725b.png)

[2020-08-12 14:19] joewxboy commented on #24
@morrme Sure, or even shorter:

"A guide to get you using Open Horizon in minutes"

Did you want to work on this?

[2020-08-12 14:31] morrme commented on #24
@joewxboy yes! 🙂  PR submitted !

[2020-08-12 14:58] #24 closed

[2020-08-12 17:45] joewxboy opened #27 "Service Definitions section"
From @dabooz

This issue is a placeholder for documenting Service Definitions.

[2020-08-17 16:01] dcmartin commented on #27
The architecture definitions need to be explicitly listed, not referred to in some long GOLANG document.

[2020-08-17 18:29] joewxboy opened #29 "Integrate in-place repository .md files"
Beginning with the `anax` repo, develop a way to integrate existing markdown documentation without disruption or significant refactoring.

The github-pages process allows files in `/docs` to be automatically generated into web pages and made available under the existing site at the URI pattern `/docs/[repo name]`, so for the "anax" repo, the URI would begin with `/docs/anax/`.

[2020-08-18 13:18] joewxboy commented on #18
It looks like we have two options for creating FAQ entries: [posts](https://jekyllrb.com/docs/posts/) and [collections](https://jekyllrb.com/docs/collections/).  It appears that collections require external configuration versus posts allowing internal classification.

Within posts, you can organize them by category or tag.  Categories allow a post to belong to more than one at a time, but they are

[2020-08-18 18:06] #18 closed

[2020-08-18 20:28] joewxboy commented on #25
I'll be adding these to the Wiki

[2020-08-19 03:49] xiuleiyy commented on #18
@joewxboy wow. Although posts are used to post blogs/papers in most instances. Your idea to use it for FAQ category/filter by tag is very interesting and I like it. Let's do this.

[2020-08-19 07:18] xiuleiyy opened #31 "Make FAQ page searchable"
This is a continuous work for https://github.com/open-horizon/open-horizon.github.io/issues/18,  to address:
1. Add search function
2. Group FAQ list by tag/category

[2020-08-19 12:41] #31 closed

[2020-09-15 16:21] mikehyde commented on #24
@morrme Please indicate that you agree to the terms of the [Developer Certificate of Origin](https://developercertificate.org/), by adding `Signed-off-by: email@address` message line to the commit. BTW, If you set your user.name and user.email as part of your git configuration, you can sign your commit automatically with git commit -s.

For your reference:

Following LF Edge guidance for all membe

[2020-09-25 04:48] clementkng commented on #15
Hi @joewxboy I'm interested in taking this issue if it's still open 😄

[2020-09-25 12:31] joewxboy commented on #15
@clementkng Edidiong has apparently been working on this one already.  As soon as he creates the PR, I'll add you as a reviewer.

[2020-09-25 12:35] edeediong commented on #15
Hi, I'm working on this presently. Sorry @clementkng

[2020-09-25 13:00] edeediong commented on #15
I've created the PR @joewxboy

[2020-09-27 23:52] clementkng commented on #16
Hi @joewxboy is this issue up for grabs?

[2020-09-28 00:03] joewxboy commented on #16
@clementkng As far as I know, it's open.  You commented first!  I'll assign to you.

[2020-09-30 13:35] #16 closed

[2020-09-30 17:11] #15 closed

[2020-10-01 05:21] rapperdinesh commented on #20
1. Issue title
2. Description
3. Reading resources
4. Link to previous past related contributions
5. Deadline (optional)

[2020-10-04 04:39] its-crypted commented on #20
I want to learn more about this issue. How exactly do you want this page?

[2020-10-06 14:02] joewxboy opened #40 "Create folder for contributed markdown documentation"
Create a folder named `docs` and place generated markdown files in it so that Jekyll (github-pages) can automatically generate the documentation.

[2020-10-06 14:19] its-crypted commented on #40
Should the *.md file be shifted from common-requests to docs?

[2020-10-06 14:23] edeediong commented on #40
Can you sign this to me please? @joewxboy

[2020-10-06 19:55] joewxboy commented on #20
@its-crypted Thanks.  The file was located in https://github.com/open-horizon/open-horizon.github.io/tree/master/.github/ISSUE_TEMPLATE

I incorporated items 3-5 suggested by @rapperdinesh

[2020-10-06 19:55] #20 closed

[2020-11-20 16:35] joewxboy opened #41 "Link to YouTube playlist"
LF Edge maintains a YouTube playlist of videos about the Open Horizon project.  The documentation web site should have a convenient and obvious pointer to that playlist for anyone who may need it.

https://www.youtube.com/playlist?list=PLgohd895XSUddtseFy4HxCqTqqlYfW8Ix

h/t @TheMosquito

[2021-01-25 14:01] joewxboy opened #42 "Suggestions to improve contribution section"
From @bmpotter

[code]

[2021-02-02 08:12] chinmaym07 commented on #41
Hey @joewxboy Can I work on this issue .?

[2021-02-02 08:13] chinmaym07 commented on #42
Hey @joewxboy Can I work on this issue .?

[2021-02-02 14:21] joewxboy commented on #41
@chinmaym07 Go ahead.  I'll assign it to you.

What did you have in mind?

[2021-02-02 14:44] chinmaym07 commented on #41
I am thinking to place a link to the Youtube playlist under Learn More Section as it is empty . Can you please provide your inputs on this @joewxboy .
![Screenshot_2021-02-02 Quick Start](https://user-images.githubusercontent.com/44670961/106616047-1a410a00-6593-11eb-8f74-5b6fc68b94b4.png)

[2021-02-02 14:48] joewxboy commented on #41
Excellent!  That's a good place for it.  Go ahead, and let me know if you have any other placement ideas as well.

[2021-02-02 19:13] leminchan commented on #25
Hey @joewxboy, can I work on this? While working through the installation, I found that the "Copy to clipboard" button wasn't copying anything for the /use.html and /contribute.html pages (using Google Chrome). Also, I was thinking there could be an alert, saying "Copied successfully," after someone clicks it to improve clarity for users.

[2021-02-02 20:00] joewxboy commented on #25
@leminchan Sure thing.  Let me know if you have any questions.

[2021-02-02 20:13] #41 closed

[2021-02-03 20:39] joewxboy opened #46 "Copy to clipboard button broken"
**Describe the bug**
The copy to clipboard button is not actually copying the text to the browser clipboard.

[2021-02-03 20:41] #46 closed

[2021-02-04 04:13] diru1100 commented on #42
I would like to work on this issue @joewxboy. It would be a good way to get started with OH.

[2021-02-04 14:55] joewxboy commented on #42
@chinmaym07 Did you want to see if you could collaborate on this with @diru1100 ?

[2021-02-04 15:08] chinmaym07 commented on #42
@joewxboy as @diru1100  is wanting to work on this issue . Let him do this ...I'll work on some other issue. Thankyou . :+1: 😀

[2021-02-04 15:37] andreas-ibm opened #47 "Better Slack link"
**Describe the bug**
On the homepage (https://www.lfedge.org/projects/openhorizon/):

When I clicked on the “Discuss in Slack” link, https://lfedge.slack.com/archives/C011XLC1V2Q,  it just brought me to a sign-in page, which expected me to already be signed up to the LF Edge slack workspace, with no way of signing up.

It wasn’t until @joewxboy sent me a different link, https://join.slack.com/t/lf

[2021-02-04 16:33] joewxboy commented on #47
@andreas-ibm I spoke with our LF Edge resource and he suggested following the convention set by [Project EVE](https://www.lfedge.org/projects/eve/).  He then updated our project page.  Take a look at the project page now.  Does this solve the issue with first time visitors needing to sign up, others needing to log in, and finding a channel for the project?

[2021-02-04 16:39] joewxboy commented on #42
OK @diru1100 , make us proud! :). Feel free to ask questions and comment as you go along.  The basic instructions in the README for the repo will let you know how to preview locally.  Please test locally in Chrome, Firefox, and a mobile browser (or simulated mobile browser) before creating a PR.

[2021-02-04 17:21] andreas-ibm commented on #47
That's perfect, and gives the channel name too!

[2021-02-04 17:21] #47 closed

[2021-02-07 15:50] diru1100 commented on #42
https://user-images.githubusercontent.com/39561007/107151734-1eea3180-698a-11eb-9603-700f84b4f89c.mov

I took some liberty to make modifications additional to what this issue specifies. Let me know if this is ok.
- I changed the subheadings and added a description to the page.
- How to get assigned is already present, don't know if additional details are required.
- Can also give a list to working

[2021-02-08 15:06] joewxboy commented on #42
Thanks, @diru1100

Good job seeing the missing sub-heading & description and adding those.

I'd hate to add contact info to this page, just to have to keep it updated whenever it changes.  How about providing links to the Working Groups in the wiki per repository?  That is less likely to change, and the wiki pages do get updated.  For example, to request a review in the following repositories, sel

[2021-02-09 13:44] diru1100 commented on #42
@joewxboy
I have edited again and kept the links you mentioned. Kindly check it out and if it's good I will make a PR.

https://user-images.githubusercontent.com/39561007/107371969-e6be2c80-6b0a-11eb-8488-b0ce85096a17.mov

[2021-02-09 15:45] joewxboy commented on #42
@diru1100 Great!  Ready to submit a PR with the updates?

[2021-02-09 15:45] joewxboy commented on #42
Make sure you sign off on the commits, and link the PR to this issue.

[2021-02-09 18:30] #42 closed

[2021-02-12 10:57] codejaeger opened #50 "Expandible JSON blocks in "How to use" page"
### Description

Quick-start leads to the "How to use" [page](https://open-horizon.github.io/common-requests/use.html), where responses from the hzn CLI are rendered as ` ```json ` blocks. This causes the output rendered in a single scrollable line. Reading through it without indentation becomes confusing.

### Expected Behavior

1. Produce similar output to Github flavored markdown like
[code]
or

[2021-02-12 16:08] #50 closed

[2021-02-22 21:51] joewxboy opened #53 "Enhance documentation HTML page with MD template"
The index.html page in /docs of the `issue-40` branch does not automatically apply the page template.  Adding an empty frontmatter section to the very top of the HTML above the DOCTYPE declaration was enough to force the liquid templating ending to perform variable replacement, but it didn't apply the headers and footers.

The URL to view the page when previewing locally (`bundle exec jekyll serve

[2021-02-22 22:01] joewxboy opened #54 "Enhance Swagger JSON files with JavaScript template"
In the `issue-40` branch, the /api folder has three "json" files:
[code]
You may need to create a new page template, based on "page", that will add the appropriate code to render the JSON properly.
The end result should look and function like: https://www.ibm.com/support/knowledgecenter/SSFKVV_4.2/api/sdo_swagger.json

[2021-02-23 13:13] joewxboy commented on #21
Defined variables are now available in branch `issue-40`.  Place a YML file in the `_data` folder and the variables in those files will become available to all files with frontmatter and using the liquid template system.

[2021-02-23 13:13] #21 closed

[2021-02-24 03:39] xiuleiyy commented on #53
@joewxboy I can not find the /docs folder in `issue-40` branch. Did I miss something？

[2021-02-24 03:59] xiuleiyy commented on #53
ah, I see the /docs is in your PR https://github.com/open-horizon/open-horizon.github.io/pull/52
it's not merged yet.

[2021-02-24 14:30] girishkumarbk opened #55 "Horizon on MAC big sur doesn't work"
root# curl -sSL https://raw.githubusercontent.com/open-horizon/devops/master/mgmt-hub/deploy-mgmt-hub.sh | bash
----------- Verifying input and the host OS...
Management hub services will listen on 127.0.0.1
Installing prerequisites using brew, this could take a minute...
Error running brew install jq gettext: Error: Running Homebrew as root is extremely dangerous and no longer supported.
As Homeb

[2021-02-26 12:07] shubhank-saxena commented on #54
@joewxboy can I pick this up?

[2021-02-26 13:56] joewxboy commented on #54
@shubhank-saxena You got it!  Thanks.  When you've figured out how you're going to tackle it, please run it by me.

[2021-02-26 14:07] joewxboy commented on #53
Thanks for letting me know.  I've now merged it.

[2021-02-26 14:15] rajpratyush commented on #53
@joewxboy sir I would like to work this issue. Please do guide me on this.

[2021-02-26 14:20] rajpratyush commented on #27
@joewxboy if no one is working on this Can I take it as well? @joewxboy

[2021-02-26 15:35] joewxboy commented on #53
@rajpratyush I've assigned it to you.  Feel free to ask any questions you may have.  @xiuleiyy is one of the original architects on this templating approach, so he'll be able to explain the reasons behind any decisions that we've made.  Let us know when you think you know what approach you'd like to take to solve.

[2021-02-26 16:47] rajpratyush commented on #53
Give me one day sir to analyze and go through it

[2021-02-27 04:46] rajpratyush commented on #53
@xiuleiyy Can you tell me more on this issue ??

@joewxboy while I was browsing through the website the FAQ section seemed a little off to me. I think it needs revamping like the fonts especially in header.
![Screenshot (683)](https://user-images.githubusercontent.com/53184883/109375560-c13f6a00-78e3-11eb-9111-62359d699fd4.png)
Here the question is printed twice once in header and then in body whi

[2021-02-27 05:00] rajpratyush commented on #53
@ joe another thing i saw we have a contributing guideline but it is inside overview for developer who wishes to contribute it should be accessible easily it should not take him to find out  hence I propose taking out common requests section from the quick starts and making them as tabs in header where it is easily available for the end user as well as developer. and either merging quick start wit

[2021-02-27 15:23] joewxboy commented on #53
Agreed, and the header is a little too tall.  Ideally, it should never take up more than 20% of the page height, and usually around 10%.  Also, it should be consistent between pages.  BTW, please preview with both desktop browsers and simulated or actual mobile browsers since the page uses responsive (and adaptive) web design.

Yes, good observation.

Sounds good.  Please also check the source cod

[2021-02-28 03:46] shubhank-saxena commented on #54
Thank you for the assignment @joewxboy
These are the steps I have figured out -
- We add the dist folder of swagger-UI in our project as it contains bare-bones UI for swagger docs (https://github.com/swagger-api/swagger-ui/tree/master/dist)
- Then we add a swagger rendering plugin that locates the UI bundle and tries to render it.
- Then we include a fluid import of the same.
- And finally, create

[2021-02-28 20:54] joewxboy commented on #54
Excellent, thanks.  Let's see if it makes sense to add the list folder of the swagger-UI to the `open-horizon.github.io` repo in the root folder, rather than under "/docs" if possible.  Go ahead and see if you can get it working. :)

[2021-03-01 00:18] joewxboy commented on #55
@bmpotter Should I move this issue to the `devops` repo?

[2021-03-01 07:09] girishkumarbk commented on #55
Sure. Thx

[2021-03-01 08:41] mounaiban opened #56 "Add instructions for installation on QEMU VMs"
Hi, I would like to add instructions for setting up the all-in-one Open Horizon evaluation host using QEMU virtual machines, for those who prefer using this wonderful little VMM, but I am not sure where to add them.

Should I expand the existing ``common-requests/install.md``, or would creating a new page, and calling it something like ``install-qemu.md``, be a better way to do this? (keeping in m

[2021-03-01 15:34] bmpotter commented on #55
@girishkumarbk can you reopen this issue in https://github.com/open-horizon/devops/issues ? Thx

[2021-03-02 07:40] rajpratyush commented on #53
@joewxboy @xiuleiyy when I ran the code
`bundle exec jekyll serve`
 This was the message in got in command prompt

![Screenshot (688)](https://user-images.githubusercontent.com/53184883/109614172-4a5ed700-7b58-11eb-9f5f-ae8e4e4de345.png)

This was the output when I ran the website on the browser
`http://127.0.0.1:4000/docs/`

![Screenshot (689)](https://user-images.githubusercontent.com/53184883/1

[2021-03-02 15:33] joewxboy commented on #53
@rajpratyush Yes, you now have it running correctly.

You saw two types of warning messages related to rendering web pages (but not related to running `Jekyll serve`):
1. Items like JS files that a web page referred to, but do not exist in your local filesystem.  This is a problem in the web page that will need to be fixed.  The favicon.ico missing message is similar, except triggered by the brows

[2021-03-02 15:55] rajpratyush commented on #53
@joewxboy
yes sir jekyll serve was working correctly. but I was not able to understand why our header and footer were ignored from rendering. the code was as per the syntax but I wasn't able to understand it

[2021-03-02 18:58] rajpratyush commented on #29
@joewxboy is this issue still open for work??

[2021-03-03 03:09] rajpratyush commented on #40
@joewxboy does this issue still needs work?

[2021-03-03 11:31] rajpratyush commented on #25
@joewxboy is @leminchan working on this?

[2021-03-03 14:17] joewxboy commented on #29
@rajpratyush Thanks for asking.  I'm currently trying this approach on the anax repo with assistance from Carl G.  If we get it working right, we'll need to apply the same approach to all of the other repos.

[2021-03-03 19:43] shubhank-saxena commented on #54
Hello @joewxboy
I tried the approach as I mentioned above. I created a custom fluid tag and added it in _plugins folder, but unfortunately, I am still not able to access it.
I am relatively new to Jekyll, so is there something that I am missing on?

[2021-03-03 19:50] joewxboy commented on #54
OK, I'm assuming the steps you implemented were:
1. Clone the `open-horizon.github.io` repo locally
2. `cd open-horizon.github.io`
3. `bundle install`
4. `bundle exec jekyll serve` # to preview locally
5. `git clone` of "swagger-ui/tree/master/dist" to a folder under the open-horizon.github.io tree, maybe "swagger-ui"
6. Create a custom Liquid tag plugin in `_plugins`
7. Import the tag
8. Create a

[2021-03-03 20:02] shubhank-saxena commented on #54
Yes. These are the exact steps that I followed.
After this, I am getting the following error -
`Liquid syntax error (line 1): Unknown tag 'swagger' (Liquid::SyntaxError)`
This error arises in the page which uses the new liquid tag

[2021-03-03 20:58] joewxboy commented on #54
OK, what does your custom liquid tag look like (step 6)?

[2021-03-06 16:08] bmpotter commented on #56
@mounaiban i think this info should be under https://github.com/open-horizon/devops/tree/master/mgmt-hub and linked to in  open-horizon.github.io . I'll assigned this issue to you.

[2021-03-09 13:22] #40 closed

[2021-03-21 02:02] mounaiban commented on #56
After looking through the site, I thought it would be best to put this in the FAQ section (under [``/_posts``](https://github.com/open-horizon/open-horizon.github.io/tree/master/_posts)). There would also be a link from ``common-requests/install.md`` to the FAQ post.

I haven't ruled out adding to the existing installation instructions in the devops repository, I'm just leaving that for a separate

[2021-04-16 14:32] bmpotter commented on #55
This issue is now a duplicate of https://github.com/open-horizon/devops/issues/48 , so i'm closing this one.

[2021-04-16 14:32] #55 closed

[2021-04-19 14:45] joewxboy opened #65 "Add Learning Path to Getting Started"
The [Quick Start](https://open-horizon.github.io/quick-start) section in the documentation is good for getting someone running quickly, but it does not introduce the new user to the project's architecture or overall functionality.  Various new users have contributed a list of resources that has helped them get up to speed.  Let's create a learning path that incorporates that information as a logic

[2021-04-20 17:45] joewxboy opened #67 "Explore using Mermaid to generate charts"
The [Mermaid project](https://mermaid-js.github.io/mermaid/#/) allows you to generate and embed charts using markup language, and is compatible with MD documentation.  Explore the possibility of converting our existing SVG charts into Mermaid syntax or similar.

[2021-05-06 19:50] #53 closed

[2021-05-06 19:50] #65 closed

[2021-06-09 20:49] mangiaag opened #73 "Docs page has overlapping text in header"
The header of [the docs page](https://open-horizon.github.io/docs/) has overlap between the words "Open Horizon" and "documentation site" on both web browsers I've used to visit it (Firefox 88.0.1 and Safari 14.1).

![docs_issue](https://user-images.githubusercontent.com/22260911/121426933-2292c280-c942-11eb-953c-05b2753770b1.png)

[2021-06-09 20:50] mangiaag commented on #73
@joewxboy could I be assigned this issue?

[2021-07-12 20:03] #73 closed

[2021-07-12 20:03] #67 closed

[2021-07-13 12:14] #54 closed

[2021-07-20 15:22] Rene-Ch1 opened #77 "Remove Docs selection from Docs page"
- [ ] Remove the Docs selection from the docs url page itself.
- [ ] Consider changing the word Docs to Documentation. This aligns with the transition from Knowledge Center to IBM Documentation, and it might be clearer than Docs. Apparently some users have had trouble finding (or realizing) that that link leads to the OH documentation.

Page url: https://open-horizon.github.io/docs/

Remove Docs f

[2021-07-20 15:36] dabooz opened #78 "Add overview of secrets manager feature"
1. Update the overview page to introduce the component
2. Update the Architecture picture
3. Add some paragraphs describing the feature, why it exists and briefly how to use it. I'm not sure where to put this info.

[2021-07-27 12:21] joewxboy commented on #29
Created issue in `anax` repo to try manually adding configuration directories: https://github.com/open-horizon/anax/issues/2667

[2021-07-27 13:06] #78 closed

[2021-08-06 17:36] joewxboy commented on #29
The `anax` repo docs are working now, just not optimized:
https://open-horizon.github.io/anax/attributes.html

[2021-08-10 10:28] deprov447 opened #81 "Docs styling issues"
- Navbar items not consistent with rest of the site's navbar items.

![docs page](https://user-images.githubusercontent.com/57551996/128851047-372e6ce2-083b-4cae-89ff-29d06a510655.png)
![home page](https://user-images.githubusercontent.com/57551996/128851114-876e2d6a-ad0a-4d1a-85d1-b9e88fa54534.png)

- Main docs section not properly configured for smaller displays.

![image](https://user-images.gi

[2021-08-10 12:45] #77 closed

[2021-08-11 20:53] dabooz commented on #78
PR https://github.com/open-horizon/open-horizon.github.io/pull/79

[2021-08-16 20:11] dabooz opened #83 "Document developer interactions with secrets"
Update the documentation for service developers who need to exploit secrets.

[2021-08-18 14:33] joewxboy opened #85 "Create GHA to scan open-horizon.github.io for broken links"
Create a GitHub Action that can be run manually and on a schedule that will scan the documentation web site for broken links.

[2021-08-18 14:36] joewxboy opened #86 "Create GHA to copy anax docs to this repo"
Create a GitHub action that will copy docs recursively from anax repo in /docs to open-horizon.github.io repo /anax whenever there is a merge to anax repo that includes resources under the /docs folder, then merge the results.  This will likely take coordinattion between GHA in anax and here.

[2021-08-20 17:12] dabooz opened #87 "Update doc for MMS model integrity support"

[2021-08-23 20:29] joewxboy opened #89 "Create GHA to scan open-horizon.github.io for orphaned pages"
As @dabooz [pointed out](https://matrix.to/#/!tUVxmZVqTyIhSrlIjN:chat.lfx.linuxfoundation.org/$A30DO_4--NA3IO1gZcFF5ODPyyEjZ4RQM24zRtXuK4o?via=chat.lfx.linuxfoundation.org) in the Documentation WG chat room, we have several pages in the documentation repo that do not have navigable links to their URL.  These are considered "orphan pages" because they do not have parents or siblings in the navigati

[2021-08-24 12:19] joewxboy commented on #29
Issue #86 is a dependency and possible solution for this issue.

[2021-08-24 13:08] #83 closed

[2021-08-24 13:08] #87 closed

[2021-08-24 14:13] johnwalicki opened #90 "Documentation for deployment policy template syntax"
**Describe the bug**
I want to construct a new deployment policy template file that I can pass to
`hzn exchange deployment addpolicy -f deployment.policy.json ${HZN_ORG_ID}/policy-${SERVICE_NAME}_${SERVICE_VERSION}`

The IEAM / Open Horizon documentation resources do not specify the syntax for the json file.

Specifically, I wanted to add a
[code]

I searched for a very long time and finally found

[2021-08-24 14:16] johnwalicki commented on #90
So the answer is "Go here: https://www.ibm.com/docs/en/edge-computing/4.2?topic=services-deployment-policy-use-cases"

This is a REALLY common scenario.  A developer creates a Open Horizon service, publishes the service, and wants to deploy a policy for that service.  They might put this in a Makefile or some other CI/CD pipeline.  The CLI commands need to more discoverable.

[2021-08-30 17:55] joewxboy opened #91 "Move "open in new tab" SVG from HTML to CSS"
**Describe the bug**
SVG is currently embedded in the HTML and needs to be removed.

**Expected behavior**
The links should still open in a new tab, and the icon should be present.  Use CSS and a class to insert expected behavior, not .md or .html

[2021-08-31 21:50] MOLOCH-dev commented on #85
I would like to work on this issue. Could you please assign it to me?

[2021-08-31 21:51] MOLOCH-dev commented on #89
I would like to work on this issue. Could you please assign it to me?

[2021-09-01 13:47] joewxboy commented on #91
The first task would be to identify all candidate links in the HTML/Markdown.  We'd want to remove the inline SVG image and ensure the hyperlink anchor tag had a class specifically for this purpose (ex. class="externalLink").
Second, we'd identify CSS that's on all or most pages, put it on all pages, and add a selector that appends the SVG to all anchor tags with that class.
Third, we'd do the sam

[2021-09-01 14:15] Rene-Ch1 commented on #91
Slack on 9/1:

Joe Pearson  27 minutes ago
The first task would be to identify all candidate links in the HTML/Markdown.  We'd want to remove the inline SVG image and ensure the hyperlink anchor tag had a class specifically for this purpose (ex. class="externalLink").
Second, we'd identify CSS that's on all or most pages, put it on all pages, and add a selector that appends the SVG to all anchor t

[2021-09-01 18:30] dabooz opened #92 "Add statement about malware in MMS data objects."

[2021-09-02 15:47] joewxboy opened #94 "Remove .DS_Store files, prevent re-adding"
**Describe the bug**
The repo has `.DS_Store` files that don't need to be there.

**Expected behavior**
The existing files should be deleted from all folders, and added to `.gitignore` so that they cannot be re-added.

[2021-09-03 18:54] #94 closed

[2021-09-03 20:34] dabooz opened #96 "Add doc describing container privileged mode"
Use this blog post: https://wiki.lfedge.org/pages/viewpage.action?pageId=44171856 as the source of the material

[2021-09-07 19:09] #92 closed

[2021-09-08 15:24] dabooz opened #98 "Update diagrams for clarity and currency"

[2021-09-09 06:04] unnati914 commented on #86
I can work on this

[2021-09-09 15:03] joewxboy commented on #86
Thanks, @unnati914 .  I've assigned it to you.  Let me know if you have any questions.  If you'd like, we can schedule a quick 5 minute chat to discuss.

[2021-09-09 15:07] unnati914 commented on #86
Sure Sir. Will let you know

[2021-09-09 16:31] unnati914 commented on #86
Sir i got this approach

[2021-09-09 16:32] unnati914 commented on #86
Should I tell you here?

[2021-09-09 20:27] joewxboy commented on #86
That's perfectly fine.  Some people prefer communicating "in-person" so they can ask questions collaboratively.  But ultimately, we need to capture all final decisions here in the issue.  So if all communication can happen here, it may save you some time.  I'm just ensuring you know other options are available. :)

[2021-09-10 06:07] unnati914 commented on #86
Sure sir. We could arrange one meeting :)

[2021-09-10 12:46] dabooz opened #101 "Fix "open in new tab" links"

[2021-09-18 20:22] MOLOCH-dev commented on #90
I would like to work on this, could you please assign it to me? @johnwalicki

[2021-09-19 13:43] johnwalicki commented on #90
@MOLOCH-dev Thanks for looking into this. I don't permissions to assign GitHub issues.

[2021-09-21 12:44] #96 closed

[2021-09-21 12:44] #98 closed

[2021-09-21 13:12] joewxboy commented on #90
We should fix the documentation that lives in the anax repo to point to the examples.  Please close this issue and open it in the anax repo.

[2021-09-21 13:47] unnati914 commented on #27
Could I work on this @joewxboy ? if its available?

[2021-09-21 14:34] unnati914 commented on #25
Could I work on this?

[2021-09-22 14:36] HarshalRathore commented on #85
Hello! @joewxboy.
I am a beginner to open-source and I would like to make my First open-source contribution by solving this issue.
I will appreciate your guidance thank you.

[2021-09-22 19:49] joewxboy commented on #85
Sure thing, @HarshalRathore and thanks.  Let me know what details you may need, and if you have any questions.  We also have a chat room at https://matrix.to/#/#open-horizon-docs:chat.lfx.linuxfoundation.org

[2021-09-23 17:17] unnati914 opened #105 "Guidelines.md for Hacktoberfest 💯"
Guidelines for upcoming hacktoberfest for the contributers that would be associated with our project 🥇

[2021-09-27 14:19] #105 closed

[2021-09-27 14:23] joewxboy opened #107 "Move Hacktoberfest files"
Markdown files for Hacktoberfest are currently located under the `.github` folder hierarchy.  Please move it from there to either the root folder of the documentation repo, or the wiki repository for the documentation.

[2021-09-27 14:28] unnati914 commented on #107
I can work on this

[2021-09-28 12:45] joewxboy commented on #107
Let's also make sure we spell `Hacktoberfest` consistently in the document.  Are you able to get to this today, or should I scrub in a fix it?

[2021-09-28 13:21] #107 closed

[2021-09-28 13:21] joewxboy commented on #107
File moved to project wiki.  This page is no longer needed.

[2021-10-01 14:32] joewxboy opened #111 "Add more translated languages"
Let's add an `nl` folder and locale-based folders beneath that containing translated documentation pages.  This will allow us to begin to test translation strategies and how best to provide documentation in multiple languages.

[2021-10-01 17:53] joewxboy commented on #111
Fixed, closing

[2021-10-01 17:53] #111 closed

[2021-10-14 14:46] lee-zhg opened #114 "How to update constraint of an existing deployment policy via hzn cli?"
There are couple of options to update constraint of an existing deployment policy via hzn cli.

1) hzn exchange business updatepolicy ${POLICY} -f ${UPDATE_POLICY_FILE}

where the UPDATE_POLICY_FILE contains something like
{
  "constraints": [
    "quay_horizon_model_100 >= 1000"
  ]
}

2) hzn exchange deployment addpolicy --json-file=${POLICY_FILE_WITH_UPDATE} ${POLICY}

Note, "hzn exchange deplo

[2021-10-20 18:42] Rene-Ch1 opened #116 "Testing shared image embed paths"
Trying to correct the image embeds in this files so they resolve to the translated images (Spanish).

[2021-10-21 20:35] jsaez-ibm opened #118 "Updating node with new service version"
How do you update a service running on a node with a newer (latest) version of the service?

[2021-10-27 14:43] playground opened #119 "Broken link https://open-horizon.github.io/docs/admin/backup_recovery.md"
Looks like backup_recovery.md file is missing.

[2021-11-01 01:55] github-actions[bot] opened #122 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/1406135739?check_suite_focus=true)

[2021-11-17 21:18] Rene-Ch1 opened #124 "Conditionalize OH/IEAM content in shared files"
In this issue, shared content refers to documentation files that reside in the OH repo, but are also embedded in the IEAM doc content (AKA - KC).

To accomplish this, we need to create a new yml file (proposed name - support.yml) to enable us to generate customized output: based on different operating systems and/or architecture. Labels/variables will control whether content is generated or blocke

[2021-11-18 21:45] Rene-Ch1 opened #125 "Remove NL folders in doc repo"
At this time, OH doc content is not translated (11/2021), but the IEAM content is. Because of this, the NL folder were copied to the OH repo when it was originally created. But the NL folders serve no purpose in OH at this time, so they can be removed for now.

[2021-12-01 01:58] github-actions[bot] opened #126 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/1523782857?check_suite_focus=true)

[2022-01-01 02:01] github-actions[bot] opened #127 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/1642296126?check_suite_focus=true)

[2022-01-31 19:11] Rene-Ch1 opened #128 "Create a documentation issue template"
We need a doc issue template to guide and add consistency to the doc issue creation process.

Consider borrowing the IEAM to begin with - https://github.ibm.com/Edge-Fabric/docs/issues/new?assignees=Rene-Ch&labels=&template=doc_issue_template.md&title=Title

[2022-02-01 01:56] github-actions[bot] opened #129 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/1775966187?check_suite_focus=true)

[2022-02-01 19:50] Rene-Ch1 opened #130 "Align OH files with updated IEAM files"
The orig OH docs repo was spun up from IEAM 4.2 (we think), and many updates on the IEAM side need to be copied into OH.

Rene is checking on available tools for comparing files on a folder level.

[2022-02-01 20:37] #122 closed

[2022-02-01 20:38] #126 closed

[2022-02-01 20:38] #127 closed

[2022-02-01 20:38] #129 closed

[2022-02-03 12:11] Akshit42-hue commented on #125
Can I work upon this issue @Rene-Ch1

[2022-02-03 16:13] Sukriti-sood commented on #114
@joewxboy I wanted to work on this

[2022-02-03 16:37] Sukriti-sood opened #131 "Issue forms for the Issue Templates."
Creating Issue Templates using the Issue forms and replacing the markdown files with YAML files.

[2022-02-04 08:01] Sukriti-sood commented on #91
@joewxboy  Can you elaborate a bit about which SVG you are mentioning?

[2022-02-04 16:42] Rene-Ch1 commented on #91
I think that it's the SVG for this:

![image](https://user-images.githubusercontent.com/53276773/152567909-e46e6209-7571-4e48-b82b-c54122806479.png)

[2022-02-05 07:32] Sukriti-sood commented on #91
@Rene-Ch1 Thanks

[2022-02-06 06:00] Ayush7614 opened #135 "Improve the size and UI of the website"
We can increase the Navbar Size it is very small in size and looks not very good so i am working on it please assign me this issue

[2022-02-06 06:01] Ayush7614 commented on #135
![image](https://user-images.githubusercontent.com/67006255/152669566-359c512f-8397-43fd-852f-f113cafea6a5.png)

[2022-02-06 12:38] Ayush7614 commented on #135
@joewxboy ?

[2022-02-07 18:37] joewxboy commented on #91
@Sukriti-sood And if it's unclear ... IEAM (IBM Edge Application Manager) is a downstream commercial distribution based on the OH (Open Horizon) project.  We're attempting to make the IEAM-contributed documentation vendor-neutral and yet consumable by any downstream product that wants to use it.

[2022-02-08 13:49] joewxboy commented on #135
Thanks, @Ayush7614 .  One of our goals is to make the site responsive ... meaning that it appears differently depending on your device and screen size.  For example, we don't use hover actions on devices with a touch screen like tablets and mobile phones.  So any changes you make should be tested on actual devices on emulated on those devices in a desktop browser.  Let me know if you need any assi

[2022-02-08 20:42] #91 closed

[2022-02-10 09:16] Ayush7614 opened #138 "Add GitHub Bots to Open-Horizon Repositories"
We need to have project-specific bots later (Especially for Go, Python, and JS-based projects) to track code quality, builds and all. Please have a look and let me know what you think. You can also add more bot integrations that we can have right here.

This issue would be used to track the integration of GitHub Bots across Open-Horizon repositories.

1 . Stale Bot  [Integration](https://github.co

[2022-02-10 13:49] Abhijay007 opened #139 "Add "Click to copy functionality" for commands on FAQ page"
**Describe the bug**
A clear and concise description of what the bug is.

When the user goes to the FAQ page, the user doesn't have the ability to copy those commands by clicking on the commands.

**Expected behavior**

The command should be copied when the user clicks on those commands.

**Screenshots**

![image](https://user-images.githubusercontent.com/64387054/153419501-9d806309-6dae-474c-af4f

[2022-02-10 13:49] Abhijay007 commented on #139
@unnati914  @joewxboy can I work on this issue?

[2022-02-10 15:14] #128 closed

[2022-02-10 15:14] #131 closed

[2022-02-10 16:55] Akshit42-hue commented on #119
Can I work on this issue @Rene-Ch1 @joewxboy

[2022-02-10 16:58] joewxboy commented on #138
@Ayush7614 This is great stuff!  Let me think about it.  There's still a lot I'm learning about GHAs.

Let me know (PM on chat server or email me) if you'd like to have a call (Facetime or Zoom or Skype or Google Meet or whatever) to discuss.

[2022-02-10 17:02] joewxboy commented on #119
Go ahead, @Akshit42-hue

Post a comment or message in the chat room if you have any questions.  Don't forget to:

1. Sign off on the commit (-s or --sign-off)
2. Name the PR beginning with `Issue-119: `

[2022-02-10 17:07] joewxboy commented on #139
@Abhijay007 Take a look at how we implemented it on this page: https://open-horizon.github.io/quick-start

When you commit, don't forget to add the sign-off flag.

When you create a PR, begin the title with `Issue-139: `

[2022-02-10 17:09] joewxboy commented on #139
BTW, if there's a better way to do it than what is already done, let's update the component so it's improved everywhere.

[2022-02-10 17:14] Abhijay007 commented on #139
got it :)

[2022-02-10 17:51] rithSubhro opened #140 "Update Open Graph image metadata in website"
## Description
In the website [open-horizon.github.io ](https://open-horizon.github.io/) meta og image is not  open horizon logo, I think its better to have an open horizon logo instead of  this -> https://github.com/open-horizon/open-horizon.github.io/blob/master/img/hero-dark.jpg

![Capture 7PNG](https://user-images.githubusercontent.com/68465693/153466808-d879b646-dbf9-4fa5-9eda-6ee5b587d080.PN

[2022-02-10 18:03] Akshit42-hue commented on #119
I think all the links are accessible @joewxboy

[2022-02-10 18:12] joewxboy commented on #140
@rithSubhro Good point.  We haven't done any SEO validation, nor validated any of the `meta` tags (FB, twitter, etc).  If you spot anything else amiss, please comment in this issue.  Do you have the public URLs for our project artwork?

[2022-02-10 18:45] rithSubhro commented on #140
Ya @joewxboy I went through the website  and got the lighthouse score

![image](https://user-images.githubusercontent.com/68465693/153474744-038ee665-0872-4b95-9db4-de30d9a17203.png)

I think we can improve a lot in the performance section, like we can can change all the current image formats to `.webp` format.

Implementing this will help in making consistency across the images and also since Web

[2022-02-10 19:21] joewxboy commented on #140
Hmm, an overall Lighthouse score of 80 was better than I expected. :)

My impression of `.webp` is that it's not supported by all browsers, so you'd have to use an imgsrc hack to fall back to other formats.  Sounds like a lot of complexity and extra maintenance.  A trade-off would be to convert the images to JPG or GIF depending on whether or not the image used transparency and whether or not it w

[2022-02-10 19:21] joewxboy commented on #140
SVG works quite well for logos and other vector images that can be almost any size.

[2022-02-10 19:27] rithSubhro commented on #140
Ok so we don't need any updates in image formats as of now, so I can continue fixing the og meta image right? @joewxboy

[2022-02-10 19:36] rithSubhro commented on #140
Yeah @joewxboy  sure also I think safari got support for webp too https://www.macrumors.com/2020/06/22/webp-safari-14/ so I guess now most of the browsers have support for webp so we can have a discussion on this later.

[2022-02-11 03:27] Ayush7614 commented on #138
Thanku @joewxboy Sure I am doing text on server to you and one thing is that should i start working on these

[2022-02-11 08:43] Abhijay007 opened #141 "Bug🐛: Docs Page is not responsive for Mobile Devices"
### Describe the bug.

The Docs page is not responsive on the mobile device, it is occupying some extra space on the right-hand side of the page

### Describe the steps to reproduce the behavior

1. go to the site
2. go to the docs page
3. use chrome dev tools to switch between different mobile screens !!

### Expected behavior.

the page should be responsive

### Screenshots.

![image](https://us

[2022-02-11 08:44] Abhijay007 commented on #141
@joewxboy can I work on it ?

[2022-02-11 13:32] joewxboy opened #142 "Feature Idea: metrics to track usage of documentation site"
Goal: Understand how documentation is being used:

* Commonly-viewed pages
* Common referrers
* Where a person is, and what organization they belong to or who their ISP is
* Most common paths, user journeys

May also need: feedback opportunity on pages (didn't find what you were looking for), edit this page in github

What I don't want to do is slap a Google Analytics tag on the page and call it a

[2022-02-11 14:39] joewxboy commented on #141
It looks like this is related to https://github.com/open-horizon/open-horizon.github.io/issues/135 and the conversation in the chat room about Jekyll templates: https://matrix.to/#/!tUVxmZVqTyIhSrlIjN:chat.lfx.linuxfoundation.org/$m88-vwWE7VELf0lz1fvQRV8MIK2zc7e4n4gD6qF-nkw?via=chat.lfx.linuxfoundation.org&via=matrix.org

All three should be fix-able by replacing the current `tactile` template. Is

[2022-02-11 15:05] Abhijay007 commented on #141
ok will look into that :)

[2022-02-11 18:21] #119 closed

[2022-02-11 18:52] tushar5526 commented on #89
Hi, this seems a good problem to work on. Could you assign it to me assuming the issue has been stagnant for some time?

[2022-02-11 20:47] joewxboy commented on #89
@tushar5526 You got it.  Let me know if you have any questions.

[2022-02-11 20:54] #139 closed

[2022-02-11 21:22] Abhijay007 opened #144 "Bug🐛: Footer links update"
### Describe the bug.

The "join chat" link needs to be replaced with open-horizon elements chat link as it is not redirecting anywhere and the year needs to be update as well.

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Screenshots.

![image](https://user-images.githubusercontent.com/64387054/153671956-3d2e3284-e05b-4c6c-8fda-5e5c09

[2022-02-11 21:24] Abhijay007 commented on #144
@joewxboy /assign.

[2022-02-12 05:50] Ruchip16 opened #146 "Documentation📄: Add feature request template"
### What is the current documentation state?

@joewxboy I saw that our documentation dont have a feature request template and hence I would like to create a PR for the same

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No response_

[2022-02-12 05:52] Ruchip16 commented on #142
@joewxboy How about if we integrate Vercel lighthouse CLI to track the performance and usage of our docs

[2022-02-12 14:42] tushar5526 commented on #89
`Let's find or create a GitHub Action to find orphaned pages and automatically open an issue to address them`

Yes. A few things before starting out.

- When the GHA will run, should it be some manual command that executes the GHA to run for that specific PR.
- or assuming we will be running the GHA for each PR to check for orphan pages (due to changes of the PR) might lead to multiple issues clut

[2022-02-12 16:18] joewxboy commented on #89
Good points, @tushar5526 .  I'm thinking we'll likely want to trigger it manually, and on a schedule.

The current link checker GHA runs once a month and that seems just about right for now.  Let's try that here as well.

Bonus points if we can figure out how a committer can manually run it on their branch before creating a PR.

[2022-02-12 16:20] joewxboy commented on #146
You are absolutely right, @Ruchip16 .  I'll take a look at your PR.

[2022-02-12 16:35] Abhijay007 commented on #144
on it :)

[2022-02-13 23:01] joewxboy commented on #142
I'm only familiar with the Chrome Lighthouse plug-in, but I'm open to the options.

There is a strong correlation between visits to a site and page (and rendering) performance, so I'm open to tracking these together if it makes sense.

[2022-02-14 05:57] Ruchip16 commented on #142
![image](https://user-images.githubusercontent.com/72685035/153807973-64d03602-763d-473d-87c8-a2e2ac709bc7.png)
after running the chrome lighthouse tool these were the results I think we could work upon the areas for better improvement as per the changes suggested by report

[2022-02-14 06:39] Ruchip16 commented on #142
yes, we can add performance and lighthouse workflow like performance workflow - it would add build-time performance action and lighthouse workflow - every time a PR gets raised it would generate a score for factors like SEO, performance, best practices & accessibility

[2022-02-14 08:05] Abhijay007 commented on #142
@Ruchip16 I think that lighthouse is more focused on SEO, performance, and optimization of the site and also produce reports accordingly, and as @joewxboy mentioned in the description above we need data or reports on Commonly-viewed pages, Common referrers, Where a person is, and what organization they belong to or who their ISP is, etc.

I think Microsoft clarity is a better option as it shows us

[2022-02-14 08:08] Ruchip16 commented on #142
@Abhijay007 Yaa dividing different use cases and working on each one seems a better option also yes I re-read all the msgs and I get your point

[2022-02-14 09:43] Abhijay007 commented on #142
@Ruchip16 can you please elaborate more on performance workflow?

[2022-02-14 16:47] #144 closed

[2022-02-14 18:27] Abhijay007 opened #149 "Documentation📄: Add Possible Errors that users can face."
### What is the current documentation state?

Add all the Possible errors that users can face while contributing or setting up a project locally on their machines by adding a separate section in the readme.MD file with the respected solutions. It will help newcomers to resolve possible errors by reading the docs we have.

### Why do you want to improve the statement?

It is important as sometimes

[2022-02-14 18:28] Abhijay007 commented on #149
I am adding solution for this error for now

[code]

[2022-02-15 08:23] Ruchip16 commented on #142
@Abhijay007 performance workflow will basically check the performance of any PR made during build time and will precheck for the dependencies, stability and speed of the code so whatever code gets merged into the docs would have already been tested on its performance and hence it would in turn lead to overall better performance of the docs.
Again this is completely my opinion and would definitely

[2022-02-15 17:34] Abhijay007 commented on #142
Thanks, @Ruchip16 for sharing about this 👍, I noticed that whenever I open a PR I get some run failed errors messages via mail which are related to `good-write.yml` and `config.yml` in workflows maybe we need to fix them too.

[2022-02-15 17:35] Ruchip16 commented on #142
@Abhijay007 exactly my point!

[2022-02-15 19:29] joewxboy commented on #149
This should be complete

[2022-02-15 19:29] #149 closed

[2022-02-15 20:16] Sukriti-sood commented on #142
@joewxboy For the feedback we can add small icon/buttom  in header/fotter  which will redirect to user to create issue in the repo. This [link](https://github.com/open-horizon/open-horizon.github.io/issues/new/choose)

[2022-02-16 02:59] Sukriti-sood opened #151 "Feature Request: Change Pages Title and Add feedback option"
### Is your feature request related to a problem? Please describe.

Most of the pages in the Open Horizon Website has title"Open Horizon". So, I want to add related title wrt. page content. Like [this](https://open-horizon.github.io/docs/getting_started/overview_oh.html) page title should "Overview- Open Horizon".

Add Feedback Option in the page as discusssed [here](https://github.com/open-horizo

[2022-02-16 03:05] Sukriti-sood commented on #142
@joewxboy  That's a better approach, but I want to mention that most of the pages on the website have "Open Horizon" as the title, so I have filed an [issue](https://github.com/open-horizon/open-horizon.github.io/issues/151) covering both these things since they are mostly interconnected. Please assign me if you find this relevant. I would like to work on it otherwise give feedback.

[2022-02-16 14:22] joewxboy opened #152 "Bug🐛: move files from /.github/workflow to /.github"
### Describe the bug.

The `config.yml` and `write-good.yml` files are in the wrong folder and need to be moved up to the parent folder.
They are currently in `/.github/workflows` and should be moved to `/.github`.

### Describe the steps to reproduce the behavior

n/a

### Expected behavior.

This move should stop error emails from being sent when PRs are merged in this repo.

### Screenshots.

_

[2022-02-16 14:23] Abhijay007 commented on #152
@joewxboy can I work on it?

[2022-02-16 18:23] tushar5526 commented on #89
Hey @joewxboy

https://talk.jekyllrb.com/t/finding-asset-and-other-orphans/3777/2

I tried searching and found a few ways but the above method seems the best way to do it.

I am thinking of implementing this in a GHA, or if you have any other ideas to implement this if you would like to share.

[2022-02-16 18:25] #152 closed

[2022-02-16 18:46] joewxboy commented on #89
Hmm, I'm currently using https://github.com/open-horizon/open-horizon.github.io/blob/master/.github/workflows/Check_broken_link.yml to check for broken hyperlinks.  I wonder if the same code (or something similar) could also be used to check for orphans?

[2022-02-16 18:49] joewxboy commented on #151
Two comments:

1. Let's ensure that the name "Open Horizon is not embedded into the page.  We should instead be using variable insertion everywhere we can.  This means either the variable that is an absolute reference to the open source project, or the variable that could mean the current product, which may be a downstream distribution.  LMK if that's not clear and you need more details.
2. Let's

[2022-02-16 18:51] joewxboy commented on #142
Very good point,  I'm glad you brought it up.  It brings to mind the concept of a title _stem_ or _root_ (as opposed to the "full" title).  We'd want to use the most specific part of the full title in breadcrumbs and in that issue link (and probably other places).

[2022-02-16 18:55] tushar5526 commented on #89
https://raw.githubusercontent.com/victoriadrake/hydra-link-checker/master/hydra.py
Behind the scene, `linksnitch` GHA is using this script which basically crawls the webpage and checks if there is a broken link, but in the case of orphan pages we don't have any links to that page so we basically cant crawl an orphan page.

One should know the exact url of the orphan page to visit it.

`wget` could

[2022-02-16 19:13] tushar5526 commented on #89
Sure. I will update you soon. Thanks

[2022-02-16 20:01] tushar5526 commented on #89
[code]

I am able to get this output using Linux command-line tools.

It is properly listing `Only in ../_site/docs/getting_started: known_issues.html` as mentioned by *dabooz* [link](https://matrix.to/#/!tUVxmZVqTyIhSrlIjN:chat.lfx.linuxfoundation.org/$A30DO_4--NA3IO1gZcFF5ODPyyEjZ4RQM24zRtXuK4o?via=chat.lfx.linuxfoundation.org).

The output looks good to me, would love @joewxboy if you could spo

[2022-02-16 20:42] joewxboy commented on #89
I didn't expect so many orphans, but that's probably a correct list.

[2022-02-17 13:21] tushar5526 opened #154 "Adding workflow status badge"
[Status Badges](https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge)

We have multiple GHAs running and adding badges would make it easier for us to track failing GHAs (eg: badge for broken link checker)

[2022-02-17 13:22] tushar5526 commented on #154
Hey @joewxboy I will like to add this feature to the README.md of the repository.

[2022-02-17 13:25] tushar5526 commented on #89
@joewxboy I am thinking of running this GHA on a schedule monthly and also providing a way to run the action manually on PRs using [ChatOps](https://github.com/peter-evans/slash-command-dispatch).

`Bonus points if we can figure out how a committer can manually run it on their branch before creating a PR.`
One can use the `ChatOps` to run the action on their fork on their PR too.

I will go ahead

[2022-02-17 14:10] joewxboy commented on #154
@tushar5526 Can you list here which READMEs, what badges we'd display, and think about how we could also generalize this for all repos without needing to install a GHA in each (if possible).

[2022-02-17 14:18] joewxboy commented on #89
ChatOps is a valuable concept.  However, some of this approach appears to potentially clutter the issue or PR comments.  On the other hand, we've been wanting to integrate ChatOps with our Matrix chat server.  Can we begin a GitHub Discussion on this topic?  We can discuss options, pros and cons, and results of research.  Also, let's discuss potential commands that people would want to use.

[2022-02-17 19:50] tushar5526 commented on #89
Instead of Outputting the orphan pages in a comment of a PR, we could just log it in the GHA's log. Similar to how the broken-link checker works.

I will be happy to do it and we can start a discussion on it.

For the time being, I think running orphan pages GHA on a schedule (just like the broken-link checker) will do the job. So I am thinking of going ahead with it?

[2022-02-17 20:39] joewxboy commented on #89
Yes, please.

[2022-02-17 20:40] joewxboy commented on #154
Ahh, I see.  That's compelling.  Thanks.

[2022-02-18 05:04] Sukriti-sood commented on #151
@joewxboy yes, this point is bit unclear to me about variable.

[2022-02-18 14:34] #154 closed

[2022-02-18 20:09] joewxboy opened #156 "Bug🐛: Fix 6 Broken Links"
### Describe the bug.

Fix the first six broken links (all 404s).  The page may exist and have been re-named, or the page may not exist.  Determine the situation and fix the link, or possibly remove the link entirely if it cannot be fixed.

For the last two, it will require modifying the GHA to enter an exception, so it's out of scope for this issue.

### Describe the steps to reproduce the behavi

[2022-02-18 20:15] Abhijay007 commented on #156
@joewxboy can I work on it ?

[2022-02-18 20:15] joewxboy opened #157 "Bug🐛: Fix Check_broken_link GHA"
### Describe the bug.

There are two tasks here:

1. Two pages will need to be flagged as exceptions so that they don't show up in the report as broken links.

2. The GHA automatically files an issue if it finds broken links, but the issue template no longer exists.  Find it and restore it.

### Describe the steps to reproduce the behavior

1. Go to https://github.com/open-horizon/open-horizon.git

[2022-02-18 20:17] joewxboy commented on #156
Go ahead, @Abhijay007  and let me know if any of the links don't have an easy solution.

[2022-02-18 20:30] tushar5526 commented on #157
I will do it, I require the issue creation template for orphan pages checker as well

[2022-02-18 20:31] joewxboy commented on #157
Perfect, thanks @tushar5526

[2022-02-18 21:56] #89 closed

[2022-02-18 21:59] tushar5526 commented on #157
Also, while I am at it. I don't think we should fail the GHA if we have some broken links. GHA should fail if we have some logical error like the one we just had.

Also, the status of broken links are displayed using an issue, so I think we should not fail the GHA if there are broken links present.

[2022-02-18 22:01] github-actions[bot] opened #160 "Orphan Pages"
## Orphan pages

Orphan pages :coffin: found on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/1866740998?check_suite_focus=true)

[2022-02-18 22:01] tushar5526 commented on #160
Eureka!

[2022-02-18 22:04] joewxboy commented on #157
That makes sense.  We'll have to coordinate with the shield/badge for the orphaned page checker to see if it currently requires a fail or not.

[2022-02-19 06:54] tushar5526 commented on #157
I have a fix, would make a PR soon.

[2022-02-19 07:36] tushar5526 commented on #157
https://github.com/victoriadrake/hydra-link-checker/blob/master/hydra.py#L283

Digging more into it, the action is set to fail whenever there is a broken link present on the website.
We could fix the broken links or I have made a feature request which would rectify this problem.

https://github.com/victoriadrake/hydra-link-checker/issues/15

[2022-02-19 21:19] #157 closed

[2022-02-20 14:32] Sukriti-sood commented on #151
@joewxboy Ya its clear now. Sorry for late reply.

[2022-02-21 11:02] Sukriti-sood commented on #29
@joewxboy According to me there can be two ways to integrate project repo to our docuemntation:-

- Creating jekyll website in every project and pubish it here open-horizon.github.io/project_name.
- Copying files from docs to open-horizon-github.io (which is currently implemented), but I think its not working and anaxdocscopy GHA should be used in anax repo not in this repo. And if I am missing an

[2022-02-21 13:55] joewxboy commented on #29
@Sukriti-sood Yes, you've nailed it!

Our original approach was to create /docs GitHub Pages in each repo that would be served as a subdirectory of the main web site.  However, that turned out to not be a viable option since the web site configuration files (config.yml, _data, and so on) would have to be duplicated in each repo and maintained individually.  This approach is not scalable when you h

[2022-02-21 14:39] Sukriti-sood commented on #29
@joewxboy Current GHA is using [copycat-action](https://github.com/andstor/copycat-action) which is used to copy files from the ```repository``` running workflow to other `repository`. So we need to copy this GHA in every `repo`. I want to do more search in this regard, it would be better if we can find more better way.

[2022-02-22 08:57] Abhijay007 opened #166 "Documentation📄: Update Technical Support Page"
### What is the current documentation state?

Update "slack" links in the technical support page as it is not redirected to anywhere and open-horizon has shifted their platform to elements for internal communication purposes.

### Where is this stated?

you can access this page from [here](https://open-horizon.github.io/common-requests/get-technical-support.html)

### Why do you want to improve th

[2022-02-22 08:57] Abhijay007 commented on #166
@joewxboy I want to work on this one :)

[2022-02-22 13:35] joewxboy commented on #166
@Abhijay007 Don't forget to sign-off on all your commits.

[2022-02-22 13:40] #156 closed

[2022-02-22 13:58] Abhijay007 commented on #166
sure 😅

[2022-02-22 21:46] #166 closed

[2022-02-23 11:03] Abhijay007 opened #168 "Bug🐛: Update License and Make Footer links external"
### Describe the bug.

Update License in the footer section as it is not correct and not associated to open-horizon and make footer links external ( open in new tab)

### Describe the steps to reproduce the behavior

1. go to the open-horizon site
2. scroll down to the footer
3. and open links and license.the

### Expected behavior.

Open link in a new tab and replace license with [this]( https://

[2022-02-23 11:04] Abhijay007 commented on #168
@joewxboy I want to work on this one.

[2022-02-24 03:49] tushar5526 opened #171 "Bug🐛: README.md has garbage data"
### Describe the bug.

The readme of the main repo has some garbage values due to recent commits.

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating environment

Any

### Additional context

_No response_

[2022-02-24 03:54] tushar5526 commented on #171
Not a big fix. I will do it

[2022-02-24 08:22] Abhijay007 commented on #171
@tushar5526 I think it will be covered in [this](https://github.com/open-horizon/open-horizon.github.io/pull/172) PR if you are talking about the conflicts in the readme due to some of the recent PR

[2022-02-25 13:12] tushar5526 opened #173 "Bug🐛: Broken matrix chat link"
### Describe the bug.

Recent commits altered the link to join matrix server.

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating environment

Any

### Additional context

_No response_

[2022-02-25 13:46] tushar5526 opened #175 "Feature Request: Add a linter for the docs"
### Is your feature request related to a problem? Please describe.

I observed that we are merging a lot of faulty PRs(broken links, garbage data in README) due to manual reviews. Linting will help us in reviewing new PRs and there are other benefits.

Linters help in SEO optimisations, checking broken links and following industry standards that helps a lot.

### Describe the solution you'd like.

[2022-02-25 13:47] tushar5526 commented on #175
@joewxboy I will do it if it's a ✅ from your end.

[2022-02-25 21:00] #168 closed

[2022-02-25 21:03] #173 closed

[2022-02-26 15:29] Sukriti-sood commented on #29
@joewxboy I did some search but I didn't found any other approach still.

According to me setting up project docs with jekyll website, will also go well, We can set up template for docs and that can be used in every project.  Also [jekyll](https://github.com/jekyll) is also using same approach for its doc.

Or we can also pratically ananlys performance first by implementing jekyll website in one p

[2022-02-26 16:02] joewxboy opened #178 "Bug🐛: Update bundle to 2.3.7 and add to instructions"
### Describe the bug.

In the "Test your changes locally" section, update the `bundle install` code section to this:

[code]

This will ensure that you have the newest version of Bundler, the Gemfile.lock is using that newest version, and that you're using the ruby gems in e directory that you have write access to (and is the correct version of ruby for macOS users).

Please test on Windows, Linux

[2022-02-26 16:06] joewxboy commented on #29
@Sukriti-sood Yes, let's get an issue filed in `anax` repo to add the "anaxcopydocs" GHA and configure it to copy over to `open-horizon.github.io/docs/anax`.  Once we've confirmed that this works properly, we'll open issues to replicate in other repos.

[2022-02-26 16:15] Abhijay007 commented on #178
sure :)

[2022-02-26 17:39] joewxboy opened #179 "Bug🐛: exclude translations and vendor dirs from bundle serving"
### Describe the bug.

When you run `bundle exec jekyll serve`, it might pick up vendor directories and throw an error.  It will also pick up translation directories and thrown warnings.

Edit the `_config.yml` file and add the following line after the "theme:"

[code]

### Describe the steps to reproduce the behavior

Follow the standard instructions that end with "bundle exec jekyll serve" and s

[2022-02-26 17:48] tushar5526 commented on #179
I'll like to give it a shot. Please assign this to me.

[2022-02-26 21:24] joewxboy commented on #175
You'd have to find a linter that either:

* validated the Markdown files with inline Liquid templating

- or -

* waited until after GitHub Pages GHA ran, and then validated the generated output.  We already have one that will do that for merged PRs.  Maybe what you want is to run it on the PR's branch before it is merged to check the output?

[2022-02-27 00:52] Sukriti-sood opened #180 "Documentation📄: Monitoring Page"
### What is the current documentation state?

Currently documentation of [Mnitoring](http://127.0.0.1:4000/docs/admin/monitoring.html) is empty.
Edit [this] page.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No response_

[2022-02-27 11:40] Sukriti-sood opened #183 "Feature Request: Deployment preview GHA"
### Is your feature request related to a problem? Please describe.

Adding Deployment preview GHA to PRs

The addition of this feature will make it easier to review PRs.

for more info follow this discussion [here](https://github.com/open-horizon/open-horizon.github.io/discussions/198)

I would like to work on this.

[2022-02-27 11:44] Sukriti-sood commented on #178
@Abhijay007 also working fine on Linux , I have using ubuntu.. , this [jekyll guide](https://jekyllrb.com/docs/installation/ubuntu/) is very helpful.

[2022-02-27 11:50] Abhijay007 commented on #178
Thanks for sharing @Sukriti-sood, I am using the same guide for windows, and ya it is really helpful thanks for letting me know that it exists for Linux as well :)

[2022-02-27 11:52] Abhijay007 commented on #183
@Sukriti-sood are you planning to use netlify for this purpose?

[2022-02-27 11:55] Sukriti-sood commented on #183
no, website is deployed on github pages, so will be creating GHA.

On Sun, Feb 27, 2022, 5:22 PM Abhijay Jain ***@***.***> wrote:

[2022-03-01 02:12] github-actions[bot] opened #185 "Orphan Pages"
## Orphan pages

Orphan pages :coffin: found on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/1913707457?check_suite_focus=true)

[2022-03-01 02:13] github-actions[bot] opened #186 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/1913723581?check_suite_focus=true)

[2022-03-01 04:20] Sukriti-sood commented on #186
Hey @tushar5526 and @joewxboy I think , if we could add condition of only running orphan pages and broken link gha if status of issues with title "Website Contain Broken Link" and "Orphan Pages" respectively is closed, it would good .

[2022-03-01 05:09] tushar5526 commented on #186
That sounds good, but I suppose we will be over engineering things then.

[2022-03-01 05:16] Sukriti-sood commented on #186
@tushar5526 To me it seems needed, as github action will continue opening issues, but we can also solve this by removing scheduling and manuanly running action when needed....

[2022-03-01 05:56] tushar5526 commented on #186
Yeah, we can remove scheduling. Its upto @joewxboy 's preference.

[2022-03-01 08:13] Abhijay007 commented on #186
@tushar5526 @Sukriti-sood we don't have any dedicated 404 error page right? so till then, we can figure out which links to be replaced for broken 404 errors links, can we make a dedicated 404 page for the site which will redirect users to the informational links related to documentation or to the Github repo, what are your thoughts on this?

[2022-03-01 08:46] Abhijay007 commented on #186
@Sukriti-sood I agree with your point and it is a good idea too, but if it opens multiple issues for "website contain broken links" and "Orphan pages" without closing the previous ones then it is also fine as multiple contributors can contribute and work on different broken links and orphan pages at the same time.

your point is also valid as this GHA may also report the "broken links" and "orphan

[2022-03-01 09:48] Sukriti-sood commented on #186
@Sukriti-sood  ya GHA will cover the links/pages mentioned in previous issues, until they are not fixed.

[2022-03-01 09:49] Sukriti-sood commented on #186
We have 404 page.

[2022-03-01 10:28] Abhijay007 commented on #186
ya, @Sukriti-sood right we have it, but I think it can be improved, any suggestion?

![image](https://user-images.githubusercontent.com/64387054/156152350-25ad7413-0a83-45ce-b437-e1e666c72198.png)

[2022-03-01 20:03] #178 closed

[2022-03-01 20:04] #179 closed

[2022-03-02 00:08] Sukriti-sood commented on #151
@joewxboy This issue is not completed still, that pr was one of the patch..Please reopen this.

[2022-03-02 16:00] Abhijay007 opened #189 "Feature Request: Implement `MakeFile` in the open-horizon docs project"
### Is your feature request related to a problem? Please describe.

Currently, users need to write all the commands manually in order to run the project and need to switch between the command in order to build, test and run. ,

### Describe the solution you'd like.

By implementing MakeFile in the open-horizon docs project we can define a set of tasks to be executed and run multiple commands one b

[2022-03-03 21:59] joewxboy commented on #25
Additional best practices, regarding contributing:

* Always open an issue before beginning to contribute.  No bare PRs, please.
* Try to use the appropriate issue template.  If unsure, just ask in the chat room.
* Make issues as atomic as possible.  Do not put unrelated bugs into a single issue.
* When working on an issue, follow the standard process of:
* * Forking the repo
* * Creating a local

[2022-03-03 22:03] Abhijay007 commented on #25
@joewxboy it will be great if we add these instructions to the contributing guide as not every newcomer or contributor is not aware of this issue here :)

[2022-03-03 22:04] Abhijay007 commented on #25
and adding this to wiki is also pending

[2022-03-04 16:14] joewxboy commented on #25
Thanks.  You should be able to add it to the wiki by directly editing the specific page.  While you can treat the wiki like code, you don't have to.

[2022-03-04 16:17] Abhijay007 commented on #25
Thanks for letting me know this, will do that :)

[2022-03-04 18:16] joewxboy commented on #189
Just noting here that we have a discussion about this issue here: https://github.com/open-horizon/open-horizon.github.io/discussions/191

[2022-03-04 18:24] Abhijay007 opened #195 "Documentation📄: Add Define an alias instructions to the docs site"
### What is the current documentation state?

There are no instructions to use `.gitconfig` and defining an alias in order to automate the signoffs in the documentation site

### Where is this stated?

For reference follow this Discussion [here](https://github.com/open-horizon/open-horizon.github.io/discussions/191#discussioncomment-2296269)

### Why do you want to improve the statement?

It will

[2022-03-04 18:24] Abhijay007 commented on #195
@joewxboy I will open PR for this soon :)

[2022-03-04 18:27] Abhijay007 commented on #183
cc @joewxboy

[2022-03-04 18:27] Abhijay007 commented on #180
CC @joewxboy

[2022-03-04 19:44] joewxboy commented on #180
This is a good example of missing content.  One of our goals is to identify missing content and to create it.

In working on this issue, you will need to learn how to create technical documentation.  This is something that I don't know how to do, but @Rene-Ch1 is the expert.

@Abhijay007 please discuss with Rene to determine when she's ready to begin instructing you on creation of technical docume

[2022-03-04 19:45] joewxboy commented on #180
And @Sukriti-sood there's no reason why you cannot learn this alongside Abhijay, if you wish.

[2022-03-04 20:48] joewxboy commented on #151
@Sukriti-sood re-opened per your request.

[2022-03-05 18:26] #195 closed

[2022-03-05 18:29] Abhijay007 commented on #140
@joewxboy I think @rithSubhro is quite busy or maybe active on this issue, can I resolve this?

[2022-03-05 18:33] rithSubhro commented on #140
I have unassigned myself, all yours...

[2022-03-05 18:34] Abhijay007 commented on #140
if you need any help I can assist :)

[2022-03-05 23:08] Sukriti-sood commented on #180
Yes, I also found this page while, working on one of the issues.

[2022-03-05 23:09] Sukriti-sood commented on #151
Thanks 🙌🏻

[2022-03-07 15:40] joewxboy commented on #178
Thank you for testing on multiple OSes.  As we create a Makefile to support building this, we may want to consider the possibility of using two different Gemfile.lock files if they diverge too much between OSes.

[2022-03-07 15:45] Abhijay007 commented on #178
sure, I will keep that in mind while implementing `make`

[2022-03-07 19:27] Abhijay007 commented on #25
@joewxboy I think I don't have edit access for wiki, and when I cloned wiki locally to edit it and push changes I am getting an error that I don't have rights to do that (which is very obvious as pushing directly code needs specific permissions),

I know that you mentioned not treat the wiki like code but I am not able to find any way to edit wiki other than cloning and pushing changes and later I

[2022-03-07 19:29] Abhijay007 commented on #186
@joewxboy I would like to work on this issue, and if other contributors and community members also think that we need a new 404 page then we can create a new issue for that too. for now let's resolve the issue of this broken link :)

[2022-03-07 19:52] joewxboy commented on #25
@Abhijay007 OK, that's new to me.  Let me check

[2022-03-08 04:01] johnwalicki opened #200 "Feature Request: Install ImgBot app in open-horizon Org to squash images"
### Is your feature request related to a problem? Please describe.

Images on the Open Horizon GitHub repository are unnecessarily larger than they need to be.

Page loads are slower than optimal.

### Describe the solution you'd like.

The https://imgbot.net/ ImgBot will squash images in a repo.  This speeds page load time by reducing the image load time on unreliable or slow broadband.

An githu

[2022-03-08 04:03] johnwalicki commented on #200
If other admins agree, I have sufficient github/open-horizon Org permissions to install the ImgBot app.

[2022-03-08 13:31] joewxboy commented on #135
@Abhijay007 Would this be addressed automatically by using a CDS-based template for Jekyll/GitHub Pages?

[2022-03-08 13:44] joewxboy commented on #200
NOTE: This is a performance optimization and should not just be performed once.  Thus, it should also be added to a linter and applied to all new commits.

[2022-03-08 18:57] johnwalicki commented on #200
@joewxboy and I got together and installed the ImgBot GitHub app into this Docs repo.
We will start to see ImgBot PRs against images that can be compressed.
Closing issue.

[2022-03-08 18:57] #200 closed

[2022-03-09 17:53] Abhijay007 commented on #138
@Ayush7614 are you still working on this?

[2022-03-09 21:09] johnwalicki opened #202 "Remove NL files from the Open Horizon documentation tree"
### Is your feature request related to a problem? Please describe.

The Open Horizon documentation tree contains translated docs from the original IBM product.  These translations should be removed.

This issue will drive a PR to remove the NL files

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

_No respon

[2022-03-09 21:23] #202 closed

[2022-03-09 21:23] johnwalicki opened #204 "Feature Request: Replace AgBot with variable"
### Is your feature request related to a problem? Please describe.

The documentation contains many references to AgBot.  Sometimes lowercase, sometimes uppercase. This is a really a "proper name" in the documentation.  It should not be translated.

### Describe the solution you'd like.

Replace all references of AgBot with a documentation variable.

### Describe alternatives you've considered

_N

[2022-03-09 21:24] #186 closed

[2022-03-09 21:25] #140 closed

[2022-03-09 21:26] johnwalicki commented on #204
@joewxboy Where are the documentation variables assigned?  Is there a metatag file?
I propose we add a new variable:
[code]

[2022-03-09 21:28] johnwalicki commented on #204
I will write a small shell program to iterate through the .md files and replace `AgBot` with the new variable.

[2022-03-09 21:29] johnwalicki commented on #204
Once we prove how to do this, we can create separate issues / PRs for other keywords; Exchange, Secrets Manager, SwitchBoard, Content Sync Service, etc.

[2022-03-09 21:32] johnwalicki commented on #204
@Rene-Ch1 - Please guide us here.  I believe "AgBot" should be considered a "proper noun" so that it is not translated.

Should we debate if the proper noun should be AgBot or agbot.  Whatever we choose, the documentation should be consistent (which will be easy to change if it's a variable)

[2022-03-09 21:35] joewxboy commented on #204
https://github.com/open-horizon/open-horizon.github.io/blob/master/_data/keyword.yml

Feel free to add variables as needed following our naming convention.

[2022-03-09 22:05] johnwalicki commented on #138
I'm not a fan of StaleBot.  Just because an issue is old does not mean it should be closed.

The others are nice to have, but somewhat unnecessary.  I could be convinced if there is valid case.  Open to suggestions.

I added ImgBot yesterday to squash image sizes.  That will prove to be helpful.

[2022-03-09 22:25] Abhijay007 commented on #90
@johnwalicki according to joe's suggestion can we close this issue and open the same in `anax repo` ? if you want I will do that :)

[2022-03-10 00:36] johnwalicki commented on #90
Thanks for the reminder.  I can move it over.  I will need to remember the details.  Now that I'm part of the IEAM team, I can update the docs, post an example.

I have added this to my todo list.

[2022-03-10 02:51] johnwalicki commented on #204
Before I make the change; the following markdown files will be modified. They contain variations of  "Agbot" "agbot" "AgBot"

[code]

[2022-03-10 03:27] johnwalicki commented on #204
We need to only substitute prose usage of AgBot.  There are some cases where agbot is part of the `hzn agbot` command.
My idea of passing this through `sed` has become more complicated.  Its a small list of affected files. I'll hand edit them.

[2022-03-10 03:48] johnwalicki commented on #204
The documentation are a variety of prose usage of "agbots" plural.  Not certain how we should handle those cases.
[code]

[2022-03-10 03:55] johnwalicki commented on #204
Aha - I can write `{{site.data.keyword.agbot}}s` so that it appends the plural.

[2022-03-10 04:25] johnwalicki commented on #204
In the branch `agbot` ,I've staged a commit with the markdown files with the {{site.data.keyword.agbot}} substitution string.

The only file that remains to be modified is `_data/keyword.yml` because I would welcome the debate around
`AgBot` versus `Agbot`

[2022-03-10 11:05] Abhijay007 commented on #185
@joewxboy can you please tell me how can I reproduce the task to see ophan pages, it is not same as we are doing for the website broken links.

[2022-03-10 19:11] joewxboy commented on #116
NL folders removed, closing this issue.

[2022-03-10 19:11] #116 closed

[2022-03-10 19:16] joewxboy commented on #118
@jsaez-ibm We're searching to see if there are existing documentation pages that cover this topic.  In the meantime, the specific answer from @TheMosquito is:

1. Make and publish a new version of the service, ideally updating the version
2. Update the existing Service Definition file and publish it
3. Edit pattern or policy to change the version number, and republish it

[2022-03-10 19:22] joewxboy commented on #114
Sorry, @Sukriti-sood I didn't see that you requested this one.

[2022-03-10 19:23] joewxboy commented on #56
All the work is now being performed in devops#102 so closing this one.

[2022-03-10 19:23] #56 closed

[2022-03-10 19:45] joewxboy commented on #185
1. Click `View Results` link
2. Click the `checker` button
<img width="983" alt="Screen Shot 2022-03-10 at 2 40 39 PM" src="https://user-images.githubusercontent.com/782091/157742256-10ba7167-d186-427f-86cb-c612d815e87a.png">
3. Expand `Run bundle exec jekyll serve` to see the list of orphaned pages
 <img width="604" alt="Screen Shot 2022-03-10 at 2 43 41 PM" src="https://user-images.githubusercon

[2022-03-10 21:23] joewxboy commented on #204
@dabooz and @bmpotter and @TheMosquito any history or preference around `Agbot` versus `AgBot`?

[2022-03-11 14:24] joewxboy opened #207 "Create `anax` folder inside `/docs`"
Please create /docs/anax folder.  We'll need to use this so the GHA has a target for their copyfiles operation.

This is needed for https://github.com/open-horizon/anax/issues/3044

[2022-03-11 14:51] Sukriti-sood commented on #207
@joewxboy maybe we don't need this..., Currently I am looking into this.. and putting this issue on hold.., after I got some sure reference I will update the issue status.

[2022-03-11 20:15] #204 closed

[2022-03-12 15:09] Ayush7614 opened #209 "Added All Contributors in Readme"
Adding all Contributors in one place in the project

[2022-03-12 15:09] Ayush7614 commented on #209
Please assign me this issue @joewxboy

[2022-03-13 03:51] johnwalicki commented on #209
I've used the following service to insert an avatar collage for other github projects I contribute to:
[code]

[2022-03-13 15:46] #209 closed

[2022-03-14 19:43] Rene-Ch1 opened #211 "Documentation📄: Add a doc search function/field"
### What is the current documentation state?

Add a search field that would search the entire documentation set. Here is an example from IEAM 4.3:

![image](https://user-images.githubusercontent.com/53276773/158248718-5b2827cc-110f-44c6-b8f6-fde5842f65c9.png)

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No respons

[2022-03-14 19:54] Abhijay007 commented on #211
@joewxboy I want to work on this one :)

[2022-03-14 19:59] joewxboy commented on #27
Looking at https://github.com/open-horizon/anax/blob/master/docs/service_def.md it appears to be simply describing the contents of the Service Definition file and then pointing to Examples to see what the actual files might look like.

What might be missing are answers to questions that different roles may have:
* Administrator: what fields are important to them and why?
* Developer: how should th

[2022-03-14 20:54] joewxboy commented on #211
If possible, I'd like to see if we can use an inline search tool like https://www.algolia.com/ref/docsearch/

One reason is speed and instant feedback.  Another reason is that it avoids injection attacks by not showing a page that includes search terms typed in by the visitor.  LMK if it's not clear why that's so important.

The Jekyll web site uses this type of search: https://jekyllrb.com

Do a

[2022-03-14 20:57] Abhijay007 commented on #211
I will look into this :)

[2022-03-14 20:58] Abhijay007 commented on #211
maybe CDS slove this too https://www.carbondesignsystem.com/components/search/usage/

[2022-03-15 15:43] joewxboy commented on #160
Superceded by issue #185 , closing.

[2022-03-15 15:43] #160 closed

[2022-03-15 18:46] Rene-Ch1 opened #212 "Documentation📄: Add Best Practices link to Helpful resources section"
### What is the current documentation state?

Best Practices is not a link in Helpful resources.

### Where is this stated?

Helpful resources section on Doc issue template

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No response_

[2022-03-15 18:54] Rene-Ch1 opened #213 "Documentation📄: Add Table of Contents (TOC) to main doc page"
### What is the current documentation state?

Add the formatted SUMMARY file (TOC) to the main doc page view.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No response_

[2022-03-15 20:04] joewxboy commented on #213
Let's also ensure that any product names, component names, and proper nouns are embedded using variables.

[2022-03-16 15:19] johnwalicki commented on #90
I've opened a new Issue over in the Anax repo.  Closing this Issue.
https://github.com/open-horizon/anax/issues/3077

[2022-03-16 15:19] #90 closed

[2022-03-16 17:34] joewxboy commented on #138
We've deployed several bots now, I think this can safely be closed.  Please comment here if I missed anything.

[2022-03-16 17:34] #138 closed

[2022-03-16 18:08] joewxboy opened #214 "Bug🐛: missing URL from _config.yml file"
### Describe the bug.

WIthout adding a `url` line in the file, you cannot run tests.

### Describe the steps to reproduce the behavior

run `bundle exec jekyll doctor` and you'll get an error message about the missing configuration parameter.

### Expected behavior.

Add the following line to the /_config.yml file:

url: https://open-horizon.github.io

### Screenshots.

_No response_

### Operati

[2022-03-17 01:52] johnwalicki opened #215 "Documentation📄: MMS is not in the navigation"
### What is the current documentation state?

I wanted to learn about MMS.  I tried to find any reference of Model Management Service or Cloud Sync Service in the navigation.

After determined searching I found the page I wanted.  It was really hidden under "Further reading" > Development details
(then only in prose in the Introduction paragraph)

https://open-horizon.github.io/docs/developing/mod

[2022-03-17 07:41] Abhijay007 commented on #214
@joewxboy can I resolve this?

[2022-03-17 12:25] johnwalicki opened #216 "Documentation📄: Known Limitations page is out of sync"
### What is the current documentation state?

As part of #130 I synced as much of the Known Limitations page as I could. (Please wait for that PR to merge before working on this GH issue)
An  SME needs to review the mutually exclusive sets of limitations for OH and IEAM and determine if they are common limitations.

- https://open-horizon.github.io/docs/getting_started/known_issues.html
- https://

[2022-03-17 20:00] #214 closed

[2022-03-17 20:43] johnwalicki opened #218 "Documentation📄: gather_files.md is out of sync"
### What is the current documentation state?

The `gather_files.md` file is substantially out of sync. I can't make informed decisions on how to merge them. An SME should review.

- https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/hub/gather_files.md
- https://github.ibm.com/Edge-Fabric/docs/blob/4.3/hub/gather_files.md

### Where is this stated?

_No response_

### Why do y

[2022-03-17 20:47] johnwalicki opened #219 "Documentation📄: hzn_cli.md is out of sync"
### What is the current documentation state?

The `hzn_cli.md` documentation is substantially out of sync. I can't make informed decisions on how to merge them. An SME should review.

- https://github.ibm.com/Edge-Fabric/docs/blob/4.3/cli/hzn_cli.md
- https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/cli/hzn_cli.md

### Where is this stated?

_No response_

### Why do you wan

[2022-03-18 13:52] johnwalicki opened #221 "Documentation📄: Remove IBM Cloud Pak references from OH"
### What is the current documentation state?

There are a variety of Open Horizon documentation files which reference `cloudctl` and, by extension, IBM Cloud Pak common services.  This doesn't seem to make sense in the OH documentation.

A deep review of the following files is required:
[code]

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

[2022-03-18 14:01] johnwalicki opened #222 "Documentation📄: Rasbian has become Raspberry Pi OS"
### What is the current documentation state?

The OH / IEAM documentation references `Raspbian` in several pages.  It is now called `Raspberry Pi OS`.  There are two flavors of it `32bit` and `64bit`.  This GH issue should make changes to these markdown files:

[code]

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_N

[2022-03-22 00:49] johnwalicki opened #223 "Documentation📄: RISC-V documentation updates"
### What is the current documentation state?

When Open Horizon is supported on the RISC-V platform, we should add RISC-V to the documentation.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No response_

[2022-03-22 01:38] johnwalicki opened #224 "Documentation📄: Incorporate All-in-1 Horizon Management Hub doc into the OH docs"
### What is the current documentation state?

The README over in the devops repo contains great information about how to set up the All-in-1 Horizon Management Hub, Agent, and CLI.   Those details really need to move over to the OH documentation.

This issue should track how to incorporate this page into the docs.
https://github.com/open-horizon/devops/blob/master/mgmt-hub/README.md

### Where is

[2022-03-22 02:05] johnwalicki commented on #224
There's some nice work in https://github.com/open-horizon/devops/pull/102 that should be incorporated too.

[2022-03-22 18:51] #130 closed

[2022-03-22 19:46] joewxboy commented on #207
@Sukriti-sood Any update on this?

[2022-03-22 23:17] Sukriti-sood commented on #207
Sorry, but I am suffering from high fever from some consecutive days... I
will back in a day or 2.

On Wed, Mar 23, 2022, 1:16 AM Joe Pearson ***@***.***> wrote:

[2022-03-23 14:45] johnwalicki commented on #224
I see that #207 recommends a GHA to copy other repo documentation into the OH docs.  We should do the same for the devops docs referenced in this ticket.

[2022-03-23 19:51] joewxboy commented on #224
@johnwalicki This is the issue that creates the GHA in `anax` to copy their docs over:
https://github.com/open-horizon/anax/pull/3068

We need something similar in `devops` to copy their docs over, which would solve this issue.  Care to open an issue in the devops repo like PR 3068 above?

[2022-03-23 21:03] johnwalicki commented on #224
New issue opened in the devops repo to set up a GHA.
https://github.com/open-horizon/devops/issues/106

[2022-03-25 15:24] joewxboy commented on #212
I'm not sure where this gets set.  I poked around in the settings for a bit, and also checked the documentation for the issue forms, but couldn't find anything.  Does anyone else have better GoogleFu than me?

[2022-03-30 01:53] johnwalicki commented on #224
How that the GHA for anax/docs is implemented, let's stay on roll and also set up a GHA for devops/docs to docs/devops
https://github.com/open-horizon/anax/issues/3044

[2022-03-30 18:16] joewxboy commented on #207
Closing, no longer needed.  Fixed by merged PR.

[2022-03-30 18:17] joewxboy commented on #29
Closing due to anax copy docs GHA and will open individual issues in each repo as needed.

[2022-03-30 18:17] #29 closed

[2022-03-31 14:52] #114 closed

[2022-03-31 15:59] johnwalicki opened #226 "Documentation📄: Move Deployment Policy FAQ entry"
### What is the current documentation state?

A recent commit #225 added a FAQ entry which addressed #114

This additional FAQ about deployment policies seems misplaced however. That's a low level detail that might be better off in the
"Deployment Policy Use Cases" page at
https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/using_edge_services/policy_user_cases.md
which lands h

[2022-03-31 16:00] johnwalicki commented on #114
Opened a new issue to move this FAQ entry.  #226

[2022-04-01 02:50] github-actions[bot] opened #228 "Orphan Pages"
## Orphan pages

Orphan pages :coffin: found on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2074792170?check_suite_focus=true)

[2022-04-01 02:53] github-actions[bot] opened #229 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2074805180?check_suite_focus=true)

[2022-04-01 05:49] Abhijay007 commented on #185
Superceded by issue https://github.com/open-horizon/open-horizon.github.io/issues/228 , closing.

[2022-04-01 05:49] #185 closed

[2022-04-01 12:29] joewxboy commented on #228
### Results

#### Exceptions

- Only in ./_site: 404.html
- Only in ./_site: dir.html
- Only in ./_site/swagger-ui: oauth2-redirect.html
- Only in ./_site/docs: SUMMARY.html

#### Likely intentionally orphaned (candidates for re-writing)

- Only in ./_site/docs/cli: hzn_cli.html
- Only in ./_site/docs/cli: index.html
- Only in ./_site/docs/developing: container_deployment_options.html
- Only in ./

[2022-04-01 12:31] joewxboy commented on #229
This is really great news.  Only two errors!

- code:    404
  url:     https://open-horizon.github.io/docs/console/accessing_ui.md
  parent:  https://open-horizon.github.io/docs/installing/sdo.html
  error:   Not Found

- code:    0
  url:     https://researcher.watson.ibm.com/researcher/view_group.php?id=9957
  parent:  https://open-horizon.github.io/docs/developing/best_practices.html
  error:

[2022-04-01 18:06] joewxboy commented on #224
Thanks.  This work will be tracked in https://github.com/open-horizon/devops/issues/106, closing.

[2022-04-01 18:06] #224 closed

[2022-04-03 03:23] #226 closed

[2022-04-03 03:37] johnwalicki commented on #229
accessing_ui.md is only relevant in the IBM product IEAM documentation.  Step 2 (which includes this link), Step 3, Step 4 can be remove from the Open Horizon sdo.md documentation because they describe the IEAM UI web console steps. Potentially we need to add OH instructions for sdo setup instead.  Not certain what they would be however. In any case, we'd need to reorder Step 5 & 6

[2022-04-03 03:40] Abhijay007 commented on #229
will look into this thanks for the steps :)

[2022-04-03 13:52] johnwalicki commented on #229
Likely a conversation we need to have with the team that implemented SDO.

[2022-04-04 10:48] sonaljain067 commented on #222
@johnwalicki Can I work on this issue, in case it's still up?

[2022-04-13 19:35] Rene-Ch1 commented on #221
@johnwalicki A while back, @Abhijay007 mentioned this issue to me...I am not sure if he was planning to work on it, or if we need some in-depth Dev analysis before removing/replacing these references. And these files are probably also in the IEAM repo, so we will need to discuss how to handle that too.

Thanks!!

[2022-04-18 16:53] Rene-Ch1 opened #232 "Documentation📄: Change container *.md file names to a index file name pattern"
### What is the current documentation state?

Change container (files that list links to other files in that section of the document) file names and others like it to and "index" naming pattern.

For example, the name for the following file name can be changed to index.md

https://github.ibm.com/Edge-Fabric/docs/blob/4.3/developing/developing_edge_services.md

### Where is this stated?

_No respon

[2022-04-18 19:44] Rene-Ch1 commented on #232
Reopening and repurposing to be a generic goal.

[2022-04-19 02:29] johnwalicki commented on #221
The IEAM documentation is correct to include these pages.  IEAM, by design, works within OpenShift.

I think we need to decide if Open Horizon (the open source project) also supports installation into OpenShift Container Platform.  It most certainly works.   I would think Yes.  It should be a supported target (on any cloud platform - IBM Cloud, AWS, Azure)

Then, separate from supporting OCP, we n

[2022-04-20 15:45] joewxboy opened #233 "Add MAINTAINERS.md file to the repo"
In the root of the repository, create a MAINTAINERS.md file.  This file will contain all of the Maintainers from the repo's owning Working Group.  The format will be as follows:

Repository Maintainers
=================

See the information about [community membership roles](https://wiki.lfedge.org/display/OH/Community+Membership) to learn about the role of the maintainers and the process to becom

[2022-04-22 18:14] joewxboy commented on #213
This is a good example of [a section TOC page](https://open-horizon.github.io/docs/anax/).  This would be useful for directories as a default index.  This format would probably not work for a site-wide TOC page as it would be too long.  We may want something more custom for that.

[2022-04-25 14:26] #233 closed

[2022-04-25 16:02] Abhijay007 commented on #175
Hi, @johnwalicki I am working on this issue.
I am thinking about implementing linter using this GHA: https://github.com/marketplace/actions/my-markdown-linter
let me know your thoughts on this :)

[2022-04-25 20:46] joewxboy opened #236 "Add John Walicki to MAINTAINERS.md for Docs WG and all Docs repos"
@dabooz @t-fine @naphelps @bencourliss per the expedited process we've discussed on TSC calls, I'd like to formally nominate @johnwalicki to be promoted from Contributor to Maintainer in the Documentation Worrking Group repositories.

Maintainers are described as "Contributors who have commit access to repositories, may fill leadership roles in Working Groups, and have demonstrated positive contri

[2022-04-26 20:04] johnwalicki opened #238 "Documentation📄: Support for Ubuntu 22.04 Jammy"
### What is the current documentation state?

@dlarson04 has merged support for Ubuntu 22.04  aka Jammy Jellyfish
https://github.com/open-horizon/anax/issues/3157

We should update the following docs to include `jammy`
- installing/adding_devices.md

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Ad

[2022-04-26 20:07] johnwalicki commented on #236
Thanks!
With gratitude and readiness to serve.
-- John

[2022-04-27 09:41] Sukriti-sood commented on #183
First Steps of this to create Github Account , So @joewxboy If you can provide us any mail credentials or if you can create a github account youself , then It will be better kickstart for this project.

[2022-04-27 15:35] #236 closed

[2022-04-28 15:22] johnwalicki commented on #175
This markdown linter GHA looks interesting.   We would likely start off with a config file that is permissive and tweak the linter settings.

I'm going to run it against a local clone of the OH docs repo to see how many linter warnings it generates.

[2022-05-01 03:09] github-actions[bot] opened #239 "Orphan Pages"
## Orphan pages

Orphan pages :coffin: found on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2252025410?check_suite_focus=true)

[2022-05-01 03:11] github-actions[bot] opened #240 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2252034585?check_suite_focus=true)

[2022-05-02 13:38] joewxboy commented on #239
Some of the pages should be excluded from the orphan check (404.html, dir.html).

Others should be excluded from page generation entirely (SUMMARY.md, MAINTAINERS.md).

The rest are legitimate orphans.  Some of those are because they document features that are in the downstream commercial distribution and not in open-source.  Those will need to be edited out or removed.  Others are true orphans th

[2022-05-02 16:02] Rene-Ch1 opened #241 "Documentation📄: summary.md has broken links"
### What is the current documentation state?

There are files that are not actually used in the built output. I discovered some of them while I was clicking on file links in the Summary.md file - some generate a 404. And Joe told me that the Summary file is not really dictate what you see in final output - and some of the files in SUMMARY don't really need to be in the repo at all.

### Where is t

[2022-05-02 22:21] johnwalicki commented on #241
The summary.md is not used in the open-horizon.github.io navigation.  Do we care if there are broken 404 links?
- https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/SUMMARY.md
Would it be easier to delete summary.md that to remove / create the following broken links?

Broken Links on summary.md
- What's New - https://github.com/open-horizon/open-horizon.github.io/blob/master/d

[2022-05-02 22:22] johnwalicki commented on #241
I suggest we delete the summary.md or do a complete rethink of the website navigation.

[2022-05-02 22:30] johnwalicki commented on #241
Same question about dir.md
All of the links in dir.md are broken
https://github.com/open-horizon/open-horizon.github.io/blob/master/dir.md

[2022-05-02 22:32] johnwalicki commented on #241
Who can unravel the jekyll build process for the Open Horizon GitHub pages documentation tree?

[2022-05-03 01:04] johnwalicki commented on #241
Removing Good First Issue tag because I suspect this is an arm-wrestle with the jekyll build process

[2022-05-03 12:31] joewxboy commented on #240
This is a newer version of issue #229 and supersedes it.  See comments in other issue.

[2022-05-03 12:37] joewxboy commented on #239
This is a newer version of issue #228 and supersedes it.

To exclude from orphan check:
Only in ./_site: 404.html
Only in ./_site: dir.html

To exclude from page generation:
Only in ./_site: MAINTAINERS.html
Only in ./_site/docs: SUMMARY.html

Major editing may be needed by tech writers after interviews with SMEs:
Only in ./_site/docs/user_management: certificates.html
Only in ./_site/docs/user_ma

[2022-05-03 13:28] #189 closed

[2022-05-03 14:23] joewxboy commented on #241
I concur.  I also spoke with @Rene-Ch1 about this and we agree that it serves no purpose to Open Horizon.  It can safely be deleted.

[2022-05-03 14:24] joewxboy commented on #241
I originally created this as a way to test hyperlinks.  Now that we have link checker and orphan checker GHAs, this file is no longer needed.

[2022-05-03 15:05] YashKamboj commented on #238
Hey, i would love to work on this issue

[2022-05-03 15:58] joewxboy commented on #238
Go ahead, @YashKamboj and let @johnwalicki or @joewxboy know if you have any questions.  Feel free to respond here or in the chat room at https://chat.lfx.linuxfoundation.org/

Don't forget to sign your commits and create the PR for this with a title that begins with "Issue-238: "

[2022-05-04 18:05] YashKamboj commented on #223
@johnwalicki A little more description for the issue would be really helpful

[2022-05-04 18:46] joewxboy commented on #223
@YashKamboj part of the problem is that we don't have a definitive list of all of the pages that should be modified to include listing support for a new environment (operating system and/or architecture).  As part of this issue, it would be helpful to review every page in the documentation to see if they mention OS or arch and compile a list.

[2022-05-04 19:36] #238 closed

[2022-05-05 14:44] johnwalicki opened #243 "Documentation📄: RHEL edge device keyword"
### What is the current documentation state?

On the https://open-horizon.github.io/docs/installing/adding_devices.html
page, RHEL is one of the supported edge device operating systems.  However the bullet on the above html rendered page reads as:
[code]
The actual .md markdown is:
[code]
We need to investigate why the `{{site.data.keyword.rhel}}` keyword is not substituted correctly.

The `{{site

[2022-05-05 14:50] johnwalicki commented on #243
Herre is how that page and keyword correctly renders in the IEAM product documentation:
https://www.ibm.com/docs/en/eam/4.3?topic=devices-preparing-edge-device

[2022-05-05 14:58] johnwalicki commented on #243
The fix is to insert the following keyword in https://github.com/open-horizon/open-horizon.github.io/blob/master/_data/keyword.yml
[code]
at the alphabetically appropriate location.

[2022-05-05 15:04] johnwalicki commented on #243
@Rene-Ch1 @joewxboy FWIW - When comparing the IEAM product `conrefs.yml` and the Open Horizon `_data/keyword.yml` I see a variety of keyword differences (some intentional, but some omissions, some out of sync)

Intentionally, I did not sync the keyword files in the giant #220 PR.  We should review the differences anyway?

[2022-05-05 15:08] johnwalicki commented on #243
I noticed this missing keyword when reviewing the merged PR #242
We should make it a practice to inspect not just the bespoke patch but the actual rendered page and the rest of the resulting document.

[2022-05-05 15:26] johnwalicki commented on #243
The `adding_devices.md` references this `{{site.data.keyword.rhel}}` keyword in multiple places.  A complete review of
https://open-horizon.github.io/docs/installing/adding_devices.html is recommended.

[2022-05-05 15:35] johnwalicki commented on #243
Before merging this PR, the adding_devices.html page is missing the RHEL keyword in this sentence:
[code]

[2022-05-05 18:44] joewxboy commented on #243
@bencourliss Do you know if Open Horizon is actually tested on RHEL?  Or is it alternatively tested on Fedora?  Or not on those OSes at all?

[2022-05-05 20:15] joewxboy opened #245 "Bug🐛: Add files to Orphan Check exclusion list"
### Describe the bug.

The following files are not "true orphans" and thus should be added to the orphan page check GHA's exclusion list.

To exclude from orphan check:
Only in ./_site: 404.html
Only in ./_site: dir.html

### Describe the steps to reproduce the behavior

n/a

### Expected behavior.

The above listed pages should not appear in future orphan page check runs.

### Screenshots.

_No r

[2022-05-05 21:26] johnwalicki opened #247 "Documentation📄: document_conventions.md lint fixes"
### What is the current documentation state?

I noticed that there is a typo in the `document_conventions.md` that caused the ` ### Examples` header to render as markdown instead of a subheader in the html file.

The fix was to remove a leading space.
I also fixed several other lint warnings on this page.

Reference:
https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/getting_s

[2022-05-05 21:30] johnwalicki commented on #247
@Rene-Ch1  These lint errors also exist in IEAM docs (but the page renders ok)
I'll submit a private PR to keep the docs in sync.
https://www.ibm.com/docs/en/eam/4.3?topic=notes-conventions-used-in-this-document

[2022-05-06 14:48] #247 closed

[2022-05-06 14:53] johnwalicki commented on #247
I confirmed that https://open-horizon.github.io/docs/getting_started/document_conventions.html now has the correctly rendered **Examples** subheader.

[2022-05-06 15:42] johnwalicki commented on #241
Set your blasters to vaporize.  Fire at will.

[2022-05-06 15:43] johnwalicki commented on #222
Hi @sonaljain067  - Are you planning on working on this change?

[2022-05-06 18:12] #241 closed

[2022-05-06 18:37] sonaljain067 commented on #222
Yeah, would do it soon!

[2022-05-07 21:05] #222 closed

[2022-05-07 21:06] #243 closed

[2022-05-07 21:08] joewxboy commented on #245
PR #246 closes this issue.

[2022-05-07 21:08] #245 closed

[2022-05-07 21:10] joewxboy opened #253 "Bug🐛: Exclude files from page generation"
### Describe the bug.

Based on issue #239, exclude the following files from page generation:

* MAINTAINERS.md
* SUMMARY.md

### Describe the steps to reproduce the behavior

n/a

### Expected behavior.

Pages should not be generated on the web site based on those two markdown files.  Hopefully, nobody is linking to them.

### Screenshots.

_No response_

### Operating environment

n/a

### Addit

[2022-05-08 01:04] johnwalicki commented on #253
Dont forget, we delete SUMMARY.md in #250

[2022-05-13 18:42] johnwalicki commented on #218
The #221 and this #218 issue are coupled from a strategy perspective on how to split the OH docs from the IBM product docs

[2022-05-13 18:43] johnwalicki commented on #219
@johnwalicki will take a swing at this hzn_cli.md page sync

[2022-05-13 18:46] johnwalicki commented on #216
@johnwalicki  will huddle with @dlarson04  to review the respective known_issues.md files and attempt to sync.

[2022-05-17 03:50] johnwalicki opened #256 "Documentation📄: README doesn't link to open-horizon.github.io"
### What is the current documentation state?

The https://github.com/open-horizon/open-horizon.github.io repo README.md does not contain a link to the actual Open Horizon Web Site [open-horizon.github.io/](https://open-horizon.github.io/)

Add a sentence / link to the README in the first paragraph.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No respon

[2022-05-17 13:19] johnwalicki commented on #239
@joewxboy  to open a Issue to fix the orphan pages (link to them)

[2022-05-19 02:59] johnwalicki commented on #256
The URL is incorrect.  It expands to
`https://github.com/open-horizon/open-horizon.github.io/blob/master/open-horizon.github.io`
and fails with a 404 error.

The correct URL should have been `visit [open-horizon.github.io](https://open-horizon.github.io/)`

Reopening issue.

[2022-05-19 19:00] johnwalicki opened #260 "Documentation📄: Add RHEL 8.6 support to Docs"
### What is the current documentation state?

Add RHEL 8.6 (and other RHEL 8.4, 8.5) as a supported edge device (x86_64)
to `open-horizon.github.io/docs/installing/adding_devices.md`

Discuss if Open Horizon will also support RHEL 8.6 (and other RHEL 8.4, 8.5) as a supported edge device (ppc64le)

[2022-05-19 19:01] johnwalicki commented on #260
This is a sub ticket to https://github.com/open-horizon/anax/issues/3228

[2022-05-19 22:41] johnwalicki commented on #260
RHEL 8.6 release notes contain details about podman 4.x support
https://linux.web.cern.ch/rhel/releasenotes/Red_Hat_Enterprise_Linux-8-8.6_Release_Notes-en-US.pdf

[2022-05-20 13:53] johnwalicki opened #262 "Documentation📄: pen Horizon supports Intel-only Macs, not arm-based Macs"
### What is the current documentation state?

Clarify that Open Horizon supports Intel-only Macs, not arm-based Macs.
Several pages might need to be updated to clarify the differences between Intel-only Macs, not ARM64 Macs.
including `docs/installing/adding_devices.md`

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

[2022-05-20 15:05] #260 closed

[2022-05-20 17:11] johnwalicki opened #263 "Bug🐛: Missing keyword site.data.keyword.linux_ppc64le_notm"
### Describe the bug.

`{{site.data.keyword.linux_ppc64le_notm}}` is not defined in the `_data/keyword.yml` file.

I noticed this issue in the docs/installing/adding_devices.md

Add this stanza:
[code]

[2022-05-20 17:12] johnwalicki commented on #263
See ppc64le section in https://open-horizon.github.io/docs/installing/adding_devices.html

[2022-05-27 12:39] #263 closed

[2022-05-27 14:57] johnwalicki opened #265 "Feature Request: Documentation updates for aarch64 edge devices"
### Is your feature request related to a problem? Please describe.

Its not a secret that I'm a long time Red Hat / Fedora desktop Linux evangelist and morphed that passion into IoT / Edge. I've been running Fedora ARM64 on some of my Raspberry Pi devices for several years. Its irritated me that I have to manually grab the debian ARM64 bundle, unpack the anax / hzn binaries and hack up the install

[2022-05-27 15:01] joewxboy commented on #265
Can't wait to test this one!  Thanks for working on this, @johnwalicki

[2022-05-27 15:43] johnwalicki opened #266 "Documentation📄: update Docs to support Fedora 36"
### What is the current documentation state?

Modify the Documentation to support Fedora 36

The following markdown files should be updated:
[code]

The `_data/keyword.yml` keyword substitution file should also be updated to include `Fedora` so that it is not translated.

[2022-05-27 15:57] johnwalicki commented on #266
This is a sub ticket for https://github.com/open-horizon/anax/issues/3257

[2022-05-31 18:37] #253 closed

[2022-05-31 18:41] joewxboy opened #270 "Documentation📄: Issue-239, link to true orphan pages"
### What is the current documentation state?

Orphaned pages exist:

Major editing may be needed by tech writers after interviews with SMEs:
Only in ./_site/docs/user_management: certificates.html
Only in ./_site/docs/user_management: disaster_recovery.html
Only in ./_site/docs/user_management: monitoring_infrastructure.html

True orphans:
Only in ./_site/docs/cli: hzn_cli.html
Only in ./_site/doc

[2022-05-31 21:00] #240 closed

[2022-06-01 02:28] #270 closed

[2022-06-01 03:30] github-actions[bot] opened #273 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2419086825?check_suite_focus=true)

[2022-06-02 18:51] johnwalicki commented on #266
@joewxboy Oddly, the PR #267 associated with this ticket got merged but the Open Horizon website pages didn't get rebuild.

The page at
https://open-horizon.github.io/docs/installing/advanced_man_install.html
does not reflect the fixes from #267

[2022-06-02 19:41] joewxboy commented on #266
The logs for GitHub pages do not show it creating a deployment for this merge.  The trigger is merging to the master branch.  Is it possible that it wasn't merged to master?

[2022-06-02 19:55] joewxboy commented on #266
@johnwalicki GitHub Pages is failing to generate new pages due to this error:

[code]

[2022-06-03 14:00] #266 closed

[2022-06-03 15:53] github-actions[bot] opened #275 "Orphan Pages"
## Orphan pages

Orphan pages :coffin: found on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2435673275?check_suite_focus=true)

[2022-06-03 15:54] joewxboy commented on #239
Closing this issue

[2022-06-03 15:54] #239 closed

[2022-06-03 15:54] joewxboy commented on #228
This has been fixed, closing.

[2022-06-03 15:54] #228 closed

[2022-06-03 15:55] joewxboy commented on #275
Here are the new orphaned pages:

* /docs/api: agbot_secure_api.html
* /docs/api: exchange_swagger.html
* /docs/user_management: certificates.html
* /docs/user_management: disaster_recovery.html
* /docs/user_management: monitoring_infrastructure.html

[2022-06-03 16:05] joewxboy commented on #275
The first two links were intentionally removed due to downstream documentation effects.

I've since re-added them but used conditional logic to fork which links are shown.

[code]

We'll need to confirm that this new approach works downstream @johnwalicki and @Rene-Ch1

[2022-06-03 18:21] #275 closed

[2022-06-13 17:58] johnwalicki opened #278 "Documentation : k3s edge cluster only supported on amd64 and arm64"
### What is the current documentation state?

The documentation is not clear about what k3s operating systems are supported.  k3s requires amd64 and arm64
A user tried to install Open Horizon edge cluster with k3s on armhf Raspberry Pi arm32.

Improve the upstream Open Horizon docs at `open-horizon.github.io/docs/installing/preparing_edge_cluster.md`
which renders at https://open-horizon.github.io

[2022-06-13 18:05] joewxboy commented on #278
@Polber Can you either give us a little assistant with the info we need, or point us to someone to work with?

[2022-06-16 17:20] johnwalicki commented on #219
The numbering on this page https://open-horizon.github.io/docs/installing/edge_cluster_agent.html
is off.  We'll need to fix that.

ReOpening ticket.

[2022-06-20 03:19] johnwalicki commented on #180
One of the differentiating features of the IBM Edge Application Manager product is the web mgmt console and its various dashboards.  It also has an Grafana metrics dashboard - https://www.ibm.com/docs/en/eam/4.3?topic=administering-monitoring-edge-nodes-services

Open Horizon doesn't necessarily strive to do those things.  However, the `hzn` CLI is quite powerful.

Sanjeev created this unix pipeli

[2022-06-20 03:41] johnwalicki commented on #180
Sanjeev's notes:  If you are looking for quick and easy way to view your own edge nodes and their online status (by lastHeartbeat) then you can use this hzn command and little jq gymnastics . Set your HZN_ORG_ID and HZN_EXCHANGE_USER_AUTH and run the above.

[2022-06-20 03:57] johnwalicki commented on #180
He wanted to use the above in automation, converted the heartbeat date from ISO8601 to Epoch timestamps.
[code]

Here's a compact version of the above:
[code]
Reports back:
[code]

[2022-06-20 04:02] johnwalicki commented on #180
Anyway, since we have a blank monitoring page at https://open-horizon.github.io/docs/admin/monitoring.html
I thought we could add some of these tips to list node details.

Much more sophisticated `hzn exchange` commands are possible if you have Hub admin privileges.

[2022-06-20 13:27] joewxboy commented on #180
@johnwalicki That's a great idea.  We also need to begin providing monitoring for the LF Edge community lab instance, so we can test these out there.

[2022-06-20 13:29] #219 closed

[2022-06-20 13:59] johnwalicki commented on #278
@Polber will incorporate a pre-reqs section in this working document about Edge Cluster installation steps:
https://wiki.lfedge.org/display/OH/How+to+Set-up+and+Install+an+Edge+Cluster+Agent

Once the wiki page is complete, we'll re-merge it back into the main Open Horizon documentation webpage.

[2022-06-23 15:57] Amishakumari544 commented on #141
Hi @Abhijay007 Can I work on this Issue?

[2022-06-23 20:32] johnwalicki opened #281 "Bug🐛: macOS keyword substitution errors"
### Describe the bug.

https://open-horizon.github.io/docs/developing/service_operators.html

There is a keyword substitution that didn't work.
`Note: For {{site.data.keyword.macos_notm}} users, `

Let's look in this Markdown file. We see a lowercased substitution string.
https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/developing/service_operators.md

However in the keyword

[2022-06-24 13:20] joewxboy commented on #281
Good call, @johnwalicki .Do we have a standard regarding naming ... for example, we should only use all-lowercase in keyword or property names?

[2022-06-24 14:28] johnwalicki opened #282 "Edge cluster agent installation on IBM Kubernetes Service (IKS) cluster"
### What is the current documentation state?

There are no instructions how to install an Open Horizon / IEAM edge cluster agent on an IBM Kubernetes Service (IKS) cluster.  Also , there are no instructions how to install an Open Horizon edge cluster agent on a MicroShift cluster.

I reviewed the following edge cluster install documentation pages.  They list steps to install an Open Horizon edge c

[2022-06-24 14:31] johnwalicki commented on #282
With the addition of IKS and Microshift to this page, there will be 5 different techniques for installing the edge cluster agent. This particular page is getting unwieldy.  @Rene-Ch1  would you suggest that we split it into an overview page and then 5 separate documents?

[2022-06-24 18:56] DivyanshuSonwal commented on #211
Hi @Abhijay007  Can I work on this issue?

[2022-06-26 21:10] johnwalicki opened #284 "Documentation📄: RHEL9 Support"
### What is the current documentation state?

@dlarson04 added RHEL9 / podman improvements to the agent-install.sh via https://github.com/open-horizon/anax/issues/3268 and https://github.com/open-horizon/anax/pull/3337

Add RHEL 9 to the supported list:
- https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/installing/adding_devices.md
- https://github.com/open-horizon/open-hori

[2022-06-27 02:22] johnwalicki commented on #281
Closed #281 by #283

[2022-06-27 02:22] #281 closed

[2022-06-27 14:48] johnwalicki commented on #262
I reviewed the resulting pages:  (I double bounce on `Intel only` - will fix in the next update to `adding_devices.md` )
- https://open-horizon.github.io/docs/installing/adding_devices.html

Closed #262 via #285

[2022-06-27 19:46] Rene-Ch1 opened #286 "Add Section on Node/Agbot Token Requirements"
Add the subject section to https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/user_management/security_privacy.md.

Add a trimmed down version of the following as an FYI in https://www.ibm.com/docs/en/eam/4.3?topic=security-privacy#agents; the file source is here in the OH repo: https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/user_management/security_pr

[2022-06-28 13:30] #229 closed

[2022-07-01 03:24] github-actions[bot] opened #287 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2594111973?check_suite_focus=true)

[2022-07-01 11:45] johnwalicki commented on #287
[code]

[2022-07-01 15:28] joewxboy commented on #287
Regarding the cert error link, I'll see if there's a way to ignore than error or hyperlink, or alternatively a different link to use.

[2022-07-01 15:30] joewxboy commented on #287
It looks like the OpenShift link is outdated since it points to docs in the 4.6 release.  I'll look for a newer version.  Too bad they don't provide evergreen links to a feature that will automatically link to that feature in the latest release.  Something all product documentation should consider.

[2022-07-01 15:31] joewxboy commented on #287
Seeing the two broken links in the Getting Started section makes me think that we need a tool or process for checking for links to a page when that page is re-named, moved, or deleted.  That way we can prevent this issue by pro-actively editing all links to a page.

[2022-07-07 13:34] johnwalicki opened #289 "Documentation📄: Sync Open Horizon documentation"
### What is the current documentation state?

This issue will be used to sync edits between the upstream Open Horizon documentation and the downstream IBM product documentation. Some edits might flow in the both directions.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No res

[2022-07-08 12:48] #287 closed

[2022-07-08 18:03] johnwalicki opened #291 "Bug🐛: API Index page conditional logic"
### Describe the bug.

The https://open-horizon.github.io/docs/api/index.html API index page had conditional logic bugs.

@joewxboy  made edits in this June 3 2022 commit
https://github.com/open-horizon/open-horizon.github.io/commit/1662551da6efacd33429740f1caa11093f454ce6

It has rendering issues on the IBM product doc API index page:
https://www.ibm.com/docs/en/eam/4.3?topic=apis

### Describe t

[2022-07-08 18:48] joewxboy commented on #27
I believe this issue has been mostly addressed.  Let's close this ticket and if needed open a new one if there are other issues.  @johnwalicki do you concur?

[2022-07-08 18:54] joewxboy commented on #25
Confirmed that all of these items have been added to the [Best Practices wiki page](https://github.com/open-horizon/open-horizon.github.io/wiki/Best-practices-for-Open-Horizon-documentation).  Closing.

[2022-07-08 18:54] #25 closed

[2022-07-08 19:32] johnwalicki commented on #27
Yes, let's close this GH Issue.

There is a GitHub action which copies the anax docs into the Open Horizon documentation tree.

This service_def page is available here:
https://open-horizon.github.io/docs/anax/service_def.html

[2022-07-08 19:32] #27 closed

[2022-07-08 19:48] #291 closed

[2022-07-11 15:50] joewxboy opened #293 "Documentation📄: Add page/section for edge cluster setup and installation"
### What is the current documentation state?

The current section of the docs website is three pages beginning at https://open-horizon.github.io/docs/installing/edge_clusters.html

New content has been created [in the wiki](https://wiki.lfedge.org/display/OH/How+to+Set-up+and+Install+an+Edge+Cluster+Agent) and support has been added for several new Kube cluster distributions.

Let's evaluate the e

[2022-07-11 15:51] joewxboy commented on #293
@johnwalicki and @Rene-Ch1 let's discuss at the next Docs WG meeting.

[2022-07-11 19:43] johnwalicki commented on #293
Next OH Docs WG meeting is tomorrow (Tuesday 7/12) I have a conflict and can't attend the WG call.

We already have a ticket open for a Edge cluster agent install refresh.  See:
https://github.com/open-horizon/open-horizon.github.io/issues/282
Suggest we close this issue and pile on in #282.

[2022-07-12 01:56] #289 closed

[2022-07-12 02:15] johnwalicki commented on #289
I have visited  / reviewed the fixed pages.  Two pages still have formatting issues.

- https://open-horizon.github.io/docs/hub/cluster_sizing.html
- https://open-horizon.github.io/docs/developing/further_reading_devices.html
- https://open-horizon.github.io/docs/developing/service_containers.html
  - this page has ordered bullets that are not correct in the MacOS section.
- https://open-horizon.g

[2022-07-12 02:16] johnwalicki commented on #289
I will open a new Issue to fix the problems identified above.

[2022-07-12 02:19] johnwalicki opened #294 "Formatting issues"
I have visited  / reviewed the fixed pages in Issue #289 / PR #290.  Two pages still have formatting issues.

- https://open-horizon.github.io/docs/developing/service_containers.html
  - this page has ordered bullets that are not correct in the MacOS section.
- https://open-horizon.github.io/docs/installing/edge_cluster_agent.html
  - this page has ordered bullets that are not correct in the Insta

[2022-07-15 19:18] #294 closed

[2022-07-27 19:52] joewxboy commented on #223
1. Need to modify `_data/keyword.yml` to add term for RISC-V, key likely "riscv".
2. Need to search for all pages that are candidates for term inclusion.  Try searching for "linux_ppc64le" as a starting point.

[2022-08-01 03:25] github-actions[bot] opened #297 "Orphan Pages"
## Orphan pages

Orphan pages :coffin: found on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2772045839?check_suite_focus=true)

[2022-08-01 03:27] github-actions[bot] opened #298 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2772057459?check_suite_focus=true)

[2022-08-07 14:56] 03amir commented on #298
Can I work on this issue?

[2022-08-07 14:57] Abhijay007 commented on #298
Hi @03amir sure, go ahead :)

[2022-08-07 15:28] 03amir commented on #141
Can I work on this issue?

[2022-08-07 20:51] johnwalicki commented on #298
[code]

[2022-08-07 20:54] johnwalicki commented on #298
Please read #291 and #292

[2022-08-07 23:42] joewxboy commented on #141
@03amir Take a look at the code and discussion and let me know what approach you'd like to take.

[2022-08-08 06:22] 03amir commented on #141
@joewxboy  We can use media query and add a custom font size for the element which is causing this issue. And there is an extra margin, we can also remove that by a media query.

[2022-08-08 22:13] johnwalicki commented on #141
Great suggestion @03amir - Which files would need to be modified to do the media query?

[2022-08-09 14:18] #297 closed

[2022-08-11 07:16] 03amir commented on #141
@johnwalicki I think it would be the cynman.css file. Can we add some new classes to the element?

[2022-08-11 10:57] johnwalicki commented on #141
@03amir OK, great. Yes, add more classes.

[2022-08-11 13:43] 03amir commented on #141
@johnwalicki  Can you please assign me the issue?

[2022-08-11 17:17] johnwalicki commented on #141
https://github.com/open-horizon/open-horizon.github.io/blob/master/css/cayman.css

[2022-08-22 21:06] johnwalicki opened #301 "Documentation📄: Sync OH Docs"
### What is the current documentation state?

With the IEAM 4.4 product release, several documentation pages got updated with improved instructions.
In the interest of keeping the open source documentation in sync, this ticket will sweep in those updates:

- Add a link to the Secrets Manager in the further_reading_devices.md
- known_issues.md - additional caveats
- hub overview.md - section title

[2022-08-24 20:18] joewxboy opened #303 "Documentation📄: Flesh out Hub installation instructions"
### What is the current documentation state?

The page at https://open-horizon.github.io/docs/hub/online_installation.html does not tell an administrator how to install or re-install the Hub.  It should detail the installation steps for a standalone Hub instance (not the all-in-one), including variations with features activated, de-activated, or configured differently (non-standard ports, with TLS

[2022-08-24 21:11] #301 closed

[2022-08-29 15:47] johnwalicki opened #304 "Feature Request: Create a GitHub Action to incorporate KubeArmor-Integration docs"
### Is your feature request related to a problem? Please describe.

The https://github.com/open-horizon/kubearmor-integration repo will soon have a `/docs` directory.
We should implement a GitHub Action to copy the kubearmor-integration documentation tree into the Open Horizon Documentation site.

### Describe the solution you'd like.

Similar to GitHub Actions that copy over anax and devops docum

[2022-08-29 15:52] johnwalicki commented on #304
FYI - @nyrahul  @Ankurk99

[2022-08-29 16:09] johnwalicki opened #305 "Documentation📄: Incorporate KubeArmor-Integration docs into OH docs landing page"
### What is the current documentation state?

Prerequistes:
- the kubearmor-integration repo creates a /docs directory (see https://github.com/open-horizon/kubearmor-integration/issues/2 )
- a GHA action to copy those docs to the OH Docs repo (see #304 )

The https://open-horizon.github.io/docs/index.html should be enhanced with an Integrations card that links to the KubeArmor docs.

### Where is

[2022-08-29 16:10] johnwalicki commented on #305
FYI @nyrahul @Ankurk99

[2022-08-30 15:13] 03amir commented on #298
@johnwalicki  what i have to do? remove those links? or something else?

[2022-08-30 17:41] johnwalicki commented on #298
If we just consumed the markdown files for Open Horizon docs, the easy fix would be to edit https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/installing/sdo.md and remove the section that references the `accessing_ui.md` because Open Horizon doesn't have a web UI console.  **However**, the IBM Edge Application Manager (an IBM product built on top of Open Horizon) adds a hoste

[2022-08-30 17:57] johnwalicki commented on #298
The broken link in https://open-horizon.github.io/docs/anax/api.html is somewhat easier to fix.  Submit a PR for the api.md doc file over in the anax repo: https://github.com/open-horizon/anax/blob/master/docs/api.md
and change the fully qualified attributes.md link to a soft reference link  `[Attribution Definitions](../anax/attributes.md)`
I think that will work for both the anax docs repo and t

[2022-08-30 18:16] johnwalicki opened #306 "Bug🐛: Redundant files in ../anax/"
### Describe the bug.

There is a full list of anax markdown .md files in
https://github.com/open-horizon/open-horizon.github.io/tree/master/docs/anax
that are non-essential and, I believe, can be deleted.

The real anax documentation is one level below and should remain. Those .md files get copied to the OH Docs repo by a GitHub Action from the anax repo.  See new files in
https://github.com/open

[2022-08-30 18:37] johnwalicki opened #308 "Documentation📄: Broken link in the top level OH page"
### What is the current documentation state?

The Anax link in https://open-horizon.github.io/docs/index.html is broken.
Edit this file: https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/index.html
Change the `anax/index.md` link to `anax/index.html`

That will send readers to https://open-horizon.github.io/docs/anax/index.html

### Where is this stated?

_No response_

### W

[2022-08-30 19:09] johnwalicki commented on #308
I confirmed that https://open-horizon.github.io/docs/index.html now has a correct link to https://open-horizon.github.io/docs/anax/index.html

Closing issue.  Many thanks to  @huseyinkoclar for the PR

[2022-08-30 19:09] #308 closed

[2022-08-31 14:25] 03amir commented on #298
@ ok

[2022-09-01 03:31] github-actions[bot] opened #311 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/2968677108?check_suite_focus=true)

[2022-09-01 19:57] #306 closed

[2022-09-02 13:57] johnwalicki commented on #311
Here is the report:
[code]

[2022-09-02 14:54] joewxboy commented on #304
@johnwalicki Created this PR: https://github.com/open-horizon/kubearmor-integration/pull/6

[2022-09-02 15:58] johnwalicki commented on #304
Thanks @joewxboy  - I've merged https://github.com/open-horizon/kubearmor-integration/pull/6
If @Ankurk99 wants to submit a PR that touches the README.md, the GHA will run and we can observe the results.

[2022-09-03 01:30] johnwalicki commented on #141
Closed by PR #310

[2022-09-03 01:30] #141 closed

[2022-09-03 01:46] johnwalicki opened #315 "Documentation📄: Add All-in-One to index.html"
### What is the current documentation state?

The top level index should link to the All-in-One instructions that have been merged from the devops repo.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No response_

[2022-09-03 01:54] #315 closed

[2022-09-06 00:18] johnwalicki commented on #305
Closed by PRs in the kubearmor-integration repo (about a dozen attempts) but final PR was
https://github.com/open-horizon/kubearmor-integration/pull/13

[2022-09-06 13:34] #305 closed

[2022-09-06 13:35] johnwalicki commented on #304
Completed.

[2022-09-06 13:35] #304 closed

[2022-09-06 14:14] johnwalicki opened #318 "Documentation📄: Consistent index.html Card Titles"
### What is the current documentation state?

The https://open-horizon.github.io/docs/index.html has several cards with different titles that are not consistent.
Rene suggested we use Active Voice - "Administering", "Installing", "Integrating" for card titles.
- Change the "Installation" card to "Installing"

Steps:
- Edit this file: https://github.com/open-horizon/open-horizon.github.io/blob/mast

[2022-09-06 23:53] BikeMouse commented on #318
Hey! I would like to contribute to this, is it possible I could get assigned to this issue?

[2022-09-07 04:29] johnwalicki commented on #318
Thanks @BikeMouse !

[2022-09-07 13:40] joewxboy commented on #318
@BikeMouse Let us know if you run into any issues.  Pardon me if you already know this, but please ensure that all commits are signed-off, and when creating a PR, title it in the pattern "Issue-###: [Issue title]".

[2022-09-07 16:14] BikeMouse commented on #318
Changes made accordingly to above instructions

[2022-09-07 19:04] #318 closed

[2022-09-21 04:34] davidyao19 commented on #223
Hi @joewxboy I think we can help on it. Sorry that we've been too busy on our daily job in the past months and haven't got time on risc-v related work.  But I think we can resume it from Oct., and build the doc and any needed code changes for risc-v support in OH.

[2022-09-21 21:09] joewxboy commented on #135
This has beed fixed in a different PR, closing.

[2022-09-21 21:09] #135 closed

[2022-09-21 21:13] joewxboy commented on #232
Look in each folder to see if there isn't an index.md or index.html file.  If there isn't one, then:

1. Look at which pages exist and if one of them would make an obvious default page for that directory.  If so, rename it to index keeping the existing extension (md or html).
2. Find all pages that linked to the former filename and change those URLs.

Please ensure that all filenames are lowercase

[2022-09-29 00:53] johnwalicki commented on #223
I recently saw that Pine64 is working on a RISC-V board.   I might buy one of these when they become available:
https://liliputing.com/pine64-is-working-on-a-risc-v-single-board-computer/

[2022-10-01 03:47] github-actions[bot] opened #321 "Orphan Pages"
## Orphan pages

Orphan pages :coffin: found on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/3163041934?check_suite_focus=true)

[2022-10-01 03:48] github-actions[bot] opened #322 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/3163048962?check_suite_focus=true)

[2022-10-02 02:46] johnwalicki opened #323 "Feature Request: Search for proper names and turn them into substitution strings"
### Is your feature request related to a problem? Please describe.

If / when the documentation is translated, we don't want proper names, trademarks to be translated.
Words like Intel, Fedora, MacOS, IBM Cloud,

The Open Horizon Documentation repo adds these words to a keyword file at
https://github.com/open-horizon/open-horizon.github.io/blob/master/_data/keyword.yml

In the Markdown .md files,

[2022-10-02 03:17] johnwalicki opened #324 "Feature Request: Installation Guide for setting up LFEdge hosted Mgmt Hub"
### Is your feature request related to a problem? Please describe.

There is an Installation Guide for setting up an LFEdge hosted Open Horizon Mgmt Hub. See
[doc](https://wiki.lfedge.org/display/LE/Open+Horizon+Management+Hub+Developer+Instance)

Its hidden in the LFEdge Wiki.  It should move into the Open Horizon Docs repo.

This issue needs help to reformat the wiki page into markdown.

The new

[2022-10-02 03:21] johnwalicki commented on #324
Once the page is created, we'll want to link to it from
https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/hub/hub.md

[2022-10-02 03:27] johnwalicki opened #325 "Feature Request: Add a Link to the OH YouTube Playlist"
### Is your feature request related to a problem? Please describe.

Add a [Open-Horizon Video playlist](https://www.youtube.com/playlist?list=PLgohd895XSUddtseFy4HxCqTqqlYfW8Ix) on YouTube link to the "Learning" card.

The top level Open Horizon index.html is here:
https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/index.html
The rendered page is
https://open-horizon.github.io

[2022-10-02 03:30] johnwalicki commented on #325
New Contributors, please read the [CONTRIBUTING](https://github.com/open-horizon/.github/blob/master/CONTRIBUTING.md) file before asking that this issue be assigned to you. Do not submit a PR for this issue without it being assigned to you.

[2022-10-02 03:33] Mustafa-Azad025 commented on #325
hey @johnwalicki ,
this mean i have add a link of playlist in learning section

[2022-10-02 12:58] johnwalicki commented on #325
@Mustafa-Azad025 Yes, this Issue and PR will track the addition of a Playlist link to the index.html

[2022-10-02 19:23] joneskj55 commented on #325
Hey @johnwalicki, I'll take this if no one is assigned.

[2022-10-02 20:54] johnwalicki commented on #325
@joneskj55 I've assigned this GH issue to you. Thanks!

Don't forget to sign your commit. (Explained in the CONTRIBUTING.md)

[2022-10-02 23:57] johnwalicki commented on #325
@joneskj55  Well done - Thanks for contributing to Open Horizon
Closed by #326

[2022-10-02 23:57] #325 closed

[2022-10-03 00:11] github-actions[bot] opened #327 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/3163048962?check_suite_focus=true)

[2022-10-03 01:06] johnwalicki commented on #322
---
title: Broken Link Report
checked: 475
broken: 10
---

- code:    500
  url:     https://brewinstall.org/install-socat-on-mac-with-brew/
  parent:  https://open-horizon.github.io/docs/installing/adding_devices.html
  error:   Internal Server Error

- code:    500
  url:     https://brewinstall.org/Install-pssh-on-Mac-with-Brew/
  parent:  https://open-horizon.github.io/docs/installing/many_ins

[2022-10-03 01:13] johnwalicki commented on #322
It looks like brewinstall.org is somehow broken / offline.  Not certain if that is a temporary glitch or a link we need to replace.

[2022-10-03 01:18] johnwalicki commented on #322
The broken links in the anax docs really need to be fixed in the anax repo.
We would need to find a way to specify the links so that within both locations, the link works properly.
Maybe with relative links ../api.md or ../api.html
Or drop the .md / .html ?

[2022-10-03 01:55] johnwalicki commented on #322
anax/docs/node_management.md was deleted in this anax commit:
https://github.com/open-horizon/anax/commit/bed291f9c3c85a85980a2caf86d2008982dcc929

It still exists in the https://github.com/open-horizon/open-horizon.github.io repo.
We should manually delete this file.

[2022-10-03 12:27] johnwalicki commented on #327
A new GH issue is opened when the GHA is re-run.  Closing this experiment.  See #322

[2022-10-03 12:27] #327 closed

[2022-10-03 13:40] dipesh-rawat commented on #324
Hey @johnwalicki I would like to have a go at this. Could you please assign this issue to me?

[2022-10-03 13:43] joewxboy commented on #324
@dipesh-rawat I also have some notes to add.

Keep in mind that there are at least two different personas or use cases:

1. Developer looking to get an account added to the server
2. Administrator looking to add a developer to the server

[2022-10-04 02:39] #324 closed

[2022-10-04 02:44] johnwalicki commented on #311
We will move the investigation to the October Broken Links report #322

[2022-10-04 02:44] #311 closed

[2022-10-04 02:45] johnwalicki commented on #322
Useful conversations on how to fix these broken links in #311 and  #298

[2022-10-04 13:26] johnwalicki commented on #323
Look at proper name and trademark examples on this page:
https://open-horizon.github.io/docs/installing/adding_devices.html

[2022-10-04 14:23] johnwalicki commented on #298
Rolling this issue into #322
Closing this ticket.

[2022-10-04 14:23] #298 closed

[2022-10-04 14:24] johnwalicki opened #329 "Feature Request: OH Docs website redesign - adopt a MkDocs theme"
### Is your feature request related to a problem? Please describe.

The OH Documentation website needs a refresh.  Navigation is suboptimal. We've had to tweak the responsive design of the page css to adapt to screen layouts.

### Describe the solution you'd like.

We have made attempts in the past but have been blocked by the substantial rewrite of all the documentation pages.

### Describe alter

[2022-10-04 15:35] joewxboy opened #331 "Bug🐛: Page Description field does not interpolate variables"
### Describe the bug.

See the page description at https://open-horizon.github.io/docs/api/agent_api.html

[code]

The variable key/directive should not be visible.

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating environment

n/a

### Additional context

_No response_

[2022-10-04 15:37] johnwalicki opened #332 "Documentation📄: Substitution strings in subtitle descriptions"
### What is the current documentation state?

This page https://open-horizon.github.io/docs/api/agent_api.html has a keyword substitution in the subtitle description that is not processed correctly

### Where is this stated?

I think we need to back out the substitution string in
https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/api/agent_api.md

Broken by
https://github.com/

[2022-10-04 16:05] johnwalicki commented on #331
Opps - I also opened this issue about the same topic.  See #332

[2022-10-05 18:19] johnwalicki commented on #322
I will re-run the Broken Links GHA
The following PRs were merged to (mostly) fix the broken links #330  and several PRs over in the anax repo.  I finally fixed the CopyDocs GHA over in the anax repo as well.

[2022-10-05 18:21] github-actions[bot] opened #333 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/3163048962?check_suite_focus=true)

[2022-10-05 18:26] johnwalicki commented on #333
This new issue is a continuation of the prior work done in #330 and #311 and #298

[2022-10-05 18:28] johnwalicki commented on #322
Closing this ticket.  Rolling the investigation to #333

[2022-10-05 18:28] #322 closed

[2022-10-05 18:33] johnwalicki commented on #333
Very good progress on fixing the anax documentation related broken links.

There is one more anax broken link in
https://open-horizon.github.io/docs/anax/docs/node_management.html

It wants to find a `agent-install/README.md` that isn't copied over from the anax repo.  That file resides at
https://github.com/open-horizon/anax/blob/master/agent-install/README.md

[2022-10-05 18:39] johnwalicki commented on #333
The easiest way to fix this is to hard link it to the full URL and not use a relative path.
It will require another crank over in the anax repo and CopyCat GHA.

[2022-10-05 19:12] johnwalicki commented on #333
The short term fix would be to hard link to the anax/agent-install/README.md
Then we can decide if/why its outside the docs repo.

We'd have to reconfigure the anax/.github/copydocs.yml to also copy over that README to the anax/docs directory in the Docs repo.

We just go the copydocs.yml file working over there.

[2022-10-05 21:05] joewxboy commented on #333
@johnwalicki I found a new site with similar instructions.  It appears to be reputable.

[2022-10-06 12:10] johnwalicki commented on #333
Still more to do. Reopening issue.

[2022-10-07 16:34] dipesh-rawat commented on #331
@joewxboy @johnwalicki Could you please assign this issue to me for the fix?

[2022-10-07 17:32] #331 closed

[2022-10-07 17:47] dipesh-rawat commented on #331
From my searching around for the fix, I found issue on Jekyll repo (https://github.com/jekyll/jekyll/issues/6815) which is highlights core jekyll lacks the functionality of string interpolation in YAML frontmatter.

[2022-10-08 20:13] dipesh-rawat commented on #333
@johnwalicki I'm happy to help in this issue, can you let me know what are the remaining links that need fixing?

[2022-10-08 23:24] johnwalicki commented on #333
Thanks @dipesh-rawat The list is down to two broken links. Both are longer conversations on the appropriate way to fix them.

[2022-10-08 23:27] johnwalicki commented on #333
Joe and I chatted above. Over in the anax repo, I think we should take the easy route for the agent-install README. (Harklink)

[2022-10-11 23:22] #333 closed

[2022-10-12 03:39] marhabac33 opened #338 "Bug🐛: Hyperlink format is incorrect on All-in-One doc"
### Describe the bug.

Hyperlink format is `HTML` therefore it shows up as plain text instead of hyperlink
on https://open-horizon.github.io/docs/mgmt-hub/docs/index.html

### Describe the steps to reproduce the behavior

It is an content issue not an behavioural
1. Go to https://open-horizon.github.io/docs/mgmt-hub/docs/index.html
2. Scroll to `System Requirements`

### Expected behavior.

Should

[2022-10-12 14:15] marhabac33 commented on #338
@joewxboy can I work on this issue?

[2022-10-12 17:19] joewxboy commented on #338
@marhabac33 It has now been assigned to you.  Enjoy!

[2022-10-13 13:48] #338 closed

[2022-10-13 19:17] joewxboy opened #340 "Documentation📄: Update link from GH to docs web site"
### What is the current documentation state?

In the page at https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/developing/developing_details.md it points to `service_def.md` with an absolute URL.  This means that a person browsing the documentation web site generated from GitHub will follow that link taking them from the web site to GitHub.  And yet that page also exists in t

[2022-10-13 21:05] mnkyjs commented on #340
@joewxboy can yopu please assign me 😊

[2022-10-13 22:18] johnwalicki commented on #340
The proper way to resolve this would be to use relative links.  Someone viewing the pages in GitHub, would stay in the github repo. Someone viewing the page from the website would stay on the website.

[2022-10-13 23:18] joewxboy commented on #340
Ideally, but that would only be possible if the paths were the same.  I don't believe they are in this case.

[2022-10-13 23:41] johnwalicki commented on #340
Right.  Hmm.  Linking between multiple repositories and the website is not optimal.

[2022-10-13 23:42] johnwalicki commented on #340
Closed by #341

[2022-10-13 23:42] #340 closed

[2022-10-14 20:29] johnwalicki opened #343 "CopyDocs GHA gone wild"
Something weird has possessed the anax CopyDocs GitHub Action.
This GHA triggered [commit](https://github.com/open-horizon/open-horizon.github.io/commit/af007cd16fdb771fd3ebd0c99ab3f0cfd25c4a60) created an extra level of directories in the OH Docs directory that should not exist.

There is a https://github.com/open-horizon/open-horizon.github.io/tree/master/open-horizon.github.io/anax

It seems th

[2022-10-14 20:34] johnwalicki commented on #343
I think the offending GitHub Action is this one:
https://github.com/open-horizon/open-horizon.github.io/blob/master/.github/workflows/anaxdocscopy.yml

The CopyDocs GHA does not belong in the open-horizon.github.io repo.  It belongs in the anax repo.

This issue should also delete the anaxdocscopy.yml

[2022-10-14 21:03] #343 closed

[2022-10-14 21:31] johnwalicki commented on #332
@dipesh-rawat  reverted the substitution string via https://github.com/open-horizon/open-horizon.github.io/issues/331

[2022-10-14 21:31] #332 closed

[2022-10-14 21:35] johnwalicki commented on #321
Here was the report:
[code]

[2022-10-14 21:37] johnwalicki commented on #321
I deleted the docs/mgmt-hub/index.md in this [commit](https://github.com/open-horizon/open-horizon.github.io/commit/264da497b81f94c9df73564d162beb133e7dd971)

[2022-10-14 21:42] johnwalicki commented on #321
The remaining orphan pages are sourced from the anax repo.
They contain useful information !
We need to think about how to tie them into the anax documentation.  The CopyDocs GHA will copy the edits to the OH docs.

[2022-10-21 16:38] marhabac33 opened #346 "Documentation📄: Add a new common issue for deploy-mgmt-hub.sh to the list"
### What is the current documentation state?

When running the `deploy-mgmt-hub.sh` script there is a common issue with `Mongo version` that can occur and the script can fail

this is currently not included in the list of common issue on  [troubleshoot page](https://open-horizon.github.io/docs/troubleshoot/)

### Where is this stated?

https://open-horizon.github.io/docs/troubleshoot/

### Why do

[2022-10-21 17:01] joewxboy commented on #346
The way you can tell if the source is in this repo or another is by the URL path.  We try to use the repo name under docs if the content is sourced from there.  For example, if a doc is in `anax/docs` the URI will be `/docs/anax/docs`.  Likewise devops/docs can be found in `/docs/devops/docs`.  Those may be the only two repos that we've added the automation for so far.

[2022-10-21 20:32] johnwalicki commented on #329
@joewxboy  suggested that we want to find a GitHub Pages theme, not a MkDocs theme.

So - let's ditch the MkDocs theme idea.

I found this "Skylight Jekyll Theme - based on Carbon Design System"  Its mostly in Korean so hard to determine if it fits our needs.
https://github.com/lego37yoon/skylight-jekyll-theme

The website example is at https://skylight.paperbox.moe/

Might be worth an experiment

[2022-10-21 20:45] johnwalicki commented on #346
Would be good to add this tip to https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/troubleshoot/troubleshooting.md

[2022-10-23 03:33] marhabac33 commented on #346
@johnwalicki I can open a new issue to add the tip.

[2022-10-23 17:14] #346 closed

[2022-10-24 15:37] marhabac33 opened #348 "Documentation📄: Add a tip about which open-horizon.github.io docs synced"
### What is the current documentation state?

No Information about which docs in [open-horizon.github.io/docs](https://github.com/open-horizon/open-horizon.github.io/tree/master/docs ) is synced using another repo docs

### Where is this stated?

Not stated anywhere

Need to add it on
https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/troubleshoot/index.md or
https://github.co

[2022-10-26 02:21] marhabac33 commented on #348
@johnwalicki any comments on whether is better to add this tip on troubleshoot page or README page? Thanks

[2022-10-26 19:25] joewxboy commented on #348
@marhabac33 Yes, please add to both.  It would be good to have it on troubleshooting for those trying to fix a problem based on this issue.  It is also helpful to have this on the initial documentation repo's README as a note to developers.

[2022-10-27 15:13] Abhijay007 commented on #118
@joewxboy do we got any existing documentation pages that cover this topic? or can we go further with the answer suggested by @TheMosquito and add that to the docs?

[2022-10-27 16:15] johnwalicki commented on #118
Glen's comment is correct.  That's how I deploy updated Service containers to edge nodes.

Maybe we need a Common Use Cases page in the Developing section?

[2022-11-01 03:27] github-actions[bot] opened #349 "Orphan Pages"
## Orphan pages

Orphan pages :coffin: found on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/3366560959?check_suite_focus=true)

[2022-11-01 03:29] github-actions[bot] opened #350 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on https://open-horizon.github.io/

[View Results](https://github.com/open-horizon/open-horizon.github.io/actions/runs/3366571928?check_suite_focus=true)

[2022-11-01 11:45] johnwalicki commented on #349
Finding Orphan Pages
- Only in docs/anax/docs: all-in-1-setup.html
- Only in docs/anax/docs: cluster_install.html

[2022-11-01 13:58] johnwalicki opened #351 "Feature Request: Add a Security Vulnerability Disclosure page"
### Is your feature request related to a problem? Please describe.

The Open Horizon documentation should include a page which describes our responsible Security Disclosure procedure and link to the .github/SECURITY.md
It may also provide details from that SECURITY.md page.
[code]
Our security disclosure procedure implementation will have a way to post to LF managed secure mailing list. The Open H

[2022-11-01 14:33] johnwalicki commented on #351
This page will trail the official SECURITY.md being defined by
https://github.com/open-horizon/.github/issues/20

[2022-11-02 17:29] johnwalicki commented on #333
We will continue to work on broken links via the November report.  See #350

[2022-11-02 17:31] #321 closed

[2022-11-11 14:50] marhabac33 commented on #348
@joewxboy please assign it to me. I have a PR open soon. Thanks

[2022-11-18 15:38] joewxboy opened #352 "Documentation📄: Add "supported devices" to Installing box on Docs index"
### What is the current documentation state?

There is currently no clear link to supported devices, and it's not obvious how to find the information.  Let's surface it on the Docs index page (Docs link in top menu nav bar) in the "Installing" box:

https://open-horizon.github.io/docs/installing/adding_devices.html

### Where is this stated?

_No response_

### Why do you want to improve the state

[2022-11-18 15:39] joewxboy commented on #352
Remember to build and test locally before committing.

[2022-11-20 18:37] johnwalicki opened #353 "Documentation📄: Fedora 37 support"
### What is the current documentation state?

Add support for Fedora 37

Add Fedora 37 to the following pages:
- https://open-horizon.github.io/docs/installing/adding_devices.html
- https://open-horizon.github.io/docs/installing/advanced_man_install.html

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

#

[2022-11-21 18:04] #353 closed

[2022-11-22 21:29] johnwalicki opened #355 "Documentation📄: RHEL 8.7 and RHEL 9.1 support"
### What is the current documentation state?

Red Hat has released RHEL 8.7 and RHEL 9.1
Both distro releases support podman and there should be no inhibitors to supporting Open Horizon / anax / hzn
Add `8.7` and `9.1` to the supported list of Red Hat variants on the following page:

- https://open-horizon.github.io/docs/installing/adding_devices.html

### Where is this stated?

_No response_

###

[2022-11-22 23:45] johnwalicki commented on #223
We might see affordable risc-v boards early in 2023
https://www.phoronix.com/news/Ubuntu-StarFive-VisionFive-2

[2022-11-28 21:30] #355 closed

[2022-11-29 02:21] johnwalicki commented on #349
- https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/anax/docs/all-in-1-setup.md
- https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/anax/docs/cluster_install.md

[2022-11-29 02:24] johnwalicki commented on #349
We have All-in-1 instructions at https://open-horizon.github.io/docs/mgmt-hub/docs/index.html
I'm not certain how these two orphaned pages intersect with the mgmt-hub docs. Possibly that page should link to the orphaned pages.

[2022-11-29 15:19] johnwalicki opened #358 "Determine the fate of Software Defined Radio example documentation"
The [SDR example](https://github.com/open-horizon/examples/tree/master/edge/services/sdr) has [depreciated](https://github.com/open-horizon/examples/pull/550) the cloud functions components.  This caused several broken links in the OH Docs ( See #350 )
I opened a PR ( #357 ) to remove the SDR Cloud links and sections.

The remaining [SDR example documentation page](https://open-horizon.github.io/d

[2022-11-29 15:24] johnwalicki commented on #358
The OH Docs does not highlight many / any other OH Examples.  Why was this specific example documented?

One could argue that we should sunset the OH Docs [software_defined_radio_ex.md](https://github.com/open-horizon/open-horizon.github.io/blob/master/docs/installing/software_defined_radio_ex.md) page and move the docs over to SDR example repo/directory.